BadgerDetectionFlow.txt
[{"id":"4ae55c7a.10e9bc","type":"tab","label":"Badger","disabled":false,"info":""},{"id":"1d2c2923.bf7e77","type":"meraki-dashboard-api","z":"4ae55c7a.10e9bc","service":"1a05818d.d80626","name":"getOrganizations","selectedGroup":"Organizations","selectedMethod":"getOrganizations","filteredMethods":[{"methodGroup":"Organizations","methodName":"getOrganizations","parameters":[],"formHtml":"<h4>Parameters</h4>","example":"[\n  [\n    {\n      \"id\": \"2930418\",\n      \"name\": \"My organization\"\n    }\n  ]\n]","summary":"List the organizations that the user has privileges on"},{"methodGroup":"Organizations","methodName":"createOrganization","parameters":[{"camelCaseName":"createOrganization"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"createOrganization_createOrganization\"><label for=\"node-input-createOrganization_createOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>createOrganization<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganization_createOrganization\" placeholder=\"msg.createOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganization_createOrganizationType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]","summary":"Create a new organization"},{"methodGroup":"Organizations","methodName":"getOrganization","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganization_organizationId\"><label for=\"node-input-getOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganization_organizationIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]","summary":"Return an organization"},{"methodGroup":"Organizations","methodName":"updateOrganization","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"updateOrganization"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganization_organizationId\"><label for=\"node-input-updateOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganization_updateOrganization\"><label for=\"node-input-updateOrganization_updateOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganization</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganization_updateOrganization\" placeholder=\"msg.updateOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganization_updateOrganizationType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]","summary":"Update an organization"},{"methodGroup":"Organizations","methodName":"deleteOrganization","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"deleteOrganization_organizationId\"><label for=\"node-input-deleteOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteOrganization_organizationIdType\" value=\"string\" ></div>","example":"[]","summary":"Delete an organization"},{"methodGroup":"Organizations","methodName":"claimOrganization","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"claimOrganization"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"claimOrganization_organizationId\"><label for=\"node-input-claimOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-claimOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"claimOrganization_claimOrganization\"><label for=\"node-input-claimOrganization_claimOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>claimOrganization</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-claimOrganization_claimOrganization\" placeholder=\"msg.claimOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimOrganization_claimOrganizationType\" value=\"\" ></div>","example":"[\n  {\n    \"orders\": [\n      \"4CXXXXXXX\"\n    ],\n    \"serials\": [\n      \"Q234-ABCD-5678\"\n    ],\n    \"licenses\": [\n      {\n        \"key\": \"Z2XXXXXXXXXX\",\n        \"mode\": \"addDevices\"\n      }\n    ]\n  }\n]","summary":"Claim a list of devices licenses and/or orders into an organization. When claiming by order all devices and licenses in the order will be claimed; licenses will be added to the organization and devices will be placed in the organizations inventory."},{"methodGroup":"Organizations","methodName":"cloneOrganization","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"cloneOrganization"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"cloneOrganization_organizationId\"><label for=\"node-input-cloneOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-cloneOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-cloneOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"cloneOrganization_cloneOrganization\"><label for=\"node-input-cloneOrganization_cloneOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>cloneOrganization<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-cloneOrganization_cloneOrganization\" placeholder=\"msg.cloneOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-cloneOrganization_cloneOrganizationType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]","summary":"Create a new organization by cloning the addressed organization"},{"methodGroup":"Organizations","methodName":"getOrganizationDeviceStatuses","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationDeviceStatuses_organizationId\"><label for=\"node-input-getOrganizationDeviceStatuses_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationDeviceStatuses_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDeviceStatuses_organizationIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"name\": \"My AP\",\n      \"serial\": \"Q234-ABCD-5678\",\n      \"mac\": \"00:11:22:33:44:55\",\n      \"status\": \"online\",\n      \"lanIp\": \"1.2.3.4\",\n      \"publicIp\": \"123.123.123.1\",\n      \"networkId\": \"N_24329156\"\n    }\n  ]\n]","summary":"List the status of every Meraki device in the organization"},{"methodGroup":"Organizations","methodName":"getOrganizationInventory","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationInventory_organizationId\"><label for=\"node-input-getOrganizationInventory_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationInventory_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationInventory_organizationIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"mac\": \"00:11:22:33:44:55\",\n      \"serial\": \"Q234-ABCD-5678\",\n      \"networkId\": \"N_24329156\",\n      \"model\": \"MR34\",\n      \"claimedAt\": 1518365681,\n      \"publicIp\": \"123.123.123.1\",\n      \"name\": \"My AP\"\n    }\n  ]\n]","summary":"Return the inventory for an organization"},{"methodGroup":"Organizations","methodName":"getOrganizationLicenseState","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationLicenseState_organizationId\"><label for=\"node-input-getOrganizationLicenseState_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationLicenseState_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationLicenseState_organizationIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"status\": \"OK\",\n    \"expirationDate\": \"Feb 8, 2020 UTC\",\n    \"licensedDeviceCounts\": {\n      \"MS\": 100\n    }\n  }\n]","summary":"Return the license state for an organization"},{"methodGroup":"Organizations","methodName":"getOrganizationThirdPartyVPNPeers","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationThirdPartyVPNPeers_organizationId\"><label for=\"node-input-getOrganizationThirdPartyVPNPeers_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationThirdPartyVPNPeers_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationThirdPartyVPNPeers_organizationIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"name\": \"My peer 1\",\n      \"publicIp\": \"123.123.123.1\",\n      \"privateSubnets\": [\n        \"192.168.1.0/24\",\n        \"192.168.128.0/24\"\n      ],\n      \"secret\": \"asdf1234\",\n      \"ipsecPolicies\": {\n        \"ikeCipherAlgo\": [\n          \"tripledes\"\n        ],\n        \"ikeAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"ikeDiffieHellmanGroup\": [\n          \"group2\"\n        ],\n        \"ikeLifetime\": 28800,\n        \"childCipherAlgo\": [\n          \"aes128\"\n        ],\n        \"childAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"childPfsGroup\": [\n          \"disabled\"\n        ],\n        \"childLifetime\": 28800\n      }\n    },\n    {\n      \"name\": \"My peer 2\",\n      \"publicIp\": \"123.123.123.2\",\n      \"privateSubnets\": [\n        \"192.168.2.0/24\",\n        \"192.168.129.0/24\"\n      ],\n      \"secret\": \"asdf56785678567856785678\",\n      \"ipsecPoliciesPreset\": \"default\"\n    }\n  ]\n]","summary":"Return the third party VPN peers for an organization"},{"methodGroup":"Organizations","methodName":"updateOrganizationThirdPartyVPNPeers","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"updateOrganizationThirdPartyVpnPeers"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganizationThirdPartyVPNPeers_organizationId\"><label for=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\"><label for=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganizationThirdPartyVpnPeers<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\" placeholder=\"msg.updateOrganizationThirdPartyVpnPeers\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeersType\" value=\"\" ></div>","example":"[\n  [\n    {\n      \"name\": \"My peer 1\",\n      \"publicIp\": \"123.123.123.1\",\n      \"privateSubnets\": [\n        \"192.168.1.0/24\",\n        \"192.168.128.0/24\"\n      ],\n      \"secret\": \"asdf1234\",\n      \"ipsecPolicies\": {\n        \"ikeCipherAlgo\": [\n          \"tripledes\"\n        ],\n        \"ikeAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"ikeDiffieHellmanGroup\": [\n          \"group2\"\n        ],\n        \"ikeLifetime\": 28800,\n        \"childCipherAlgo\": [\n          \"aes128\"\n        ],\n        \"childAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"childPfsGroup\": [\n          \"disabled\"\n        ],\n        \"childLifetime\": 28800\n      }\n    },\n    {\n      \"name\": \"My peer 2\",\n      \"publicIp\": \"123.123.123.2\",\n      \"privateSubnets\": [\n        \"192.168.2.0/24\",\n        \"192.168.129.0/24\"\n      ],\n      \"secret\": \"asdf56785678567856785678\",\n      \"ipsecPoliciesPreset\": \"default\"\n    }\n  ]\n]","summary":"Update the third party VPN peers for an organization"},{"methodGroup":"Organizations","methodName":"getOrganizationUplinksLossAndLatency","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"uplink"},{"camelCaseName":"ip"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_organizationId\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_t0\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_t1\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 5 minutes after t0. The latest possible time that t1 can be is 2 minutes into the past.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_timespan\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 5 minutes. The default is 5 minutes.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_uplink\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_uplink\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>uplink</b> <i>&nbspstring</i></span></label><p>Optional filter for a specific WAN uplink. Valid uplinks are wan1, wan2, cellular. Default will return all uplinks.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_uplink\" placeholder=\"msg.uplink\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_uplinkType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_ip\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_ip\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>ip</b> <i>&nbspstring</i></span></label><p>Optional filter for a specific destination IP. Default will return all destination IPs.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_ip\" placeholder=\"msg.ip\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_ipType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"networkId\": \"N_12345\",\n      \"serial\": \"Q2AB-CDEF-GHIJ\",\n      \"uplink\": \"wan1\",\n      \"ip\": \"8.8.8.8\",\n      \"timeSeries\": [\n        {\n          \"ts\": \"2019-01-31T18:46:13Z\",\n          \"lossPercent\": 5.3,\n          \"latencyMs\": 194.9\n        }\n      ]\n    }\n  ]\n]","summary":"Return the uplink loss and latency for every MX in the organization from at latest 2 minutes ago"}],"storedParams":[],"formHtml":"","method":"getOrganizations","x":350,"y":100,"wires":[["369e5650.57968a"]]},{"id":"8fc8d271.4ef5c8","type":"meraki-dashboard-api","z":"4ae55c7a.10e9bc","service":"1a05818d.d80626","name":"getOrganizationNetworks","selectedGroup":"Networks","selectedMethod":"getOrganizationNetworks","filteredMethods":[{"methodGroup":"Networks","methodName":"getNetwork","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetwork_networkId\"><label for=\"node-input-getNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetwork_networkIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"id\": \"L_123456\",\n    \"organizationId\": \"2930418\",\n    \"name\": \"Long Island Office\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"tags\": \" tag1 tag2 \",\n    \"type\": \"combined\",\n    \"disableMyMerakiCom\": false\n  }\n]","summary":"Return a network"},{"methodGroup":"Networks","methodName":"updateNetwork","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"updateNetwork"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetwork_networkId\"><label for=\"node-input-updateNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetwork_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetwork_updateNetwork\"><label for=\"node-input-updateNetwork_updateNetwork\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetwork</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetwork_updateNetwork\" placeholder=\"msg.updateNetwork\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetwork_updateNetworkType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"L_123456\",\n    \"organizationId\": \"2930418\",\n    \"name\": \"Long Island Office\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"tags\": \" tag1 tag2 \",\n    \"type\": \"combined\",\n    \"disableMyMerakiCom\": false\n  }\n]","summary":"Update a network"},{"methodGroup":"Networks","methodName":"deleteNetwork","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"deleteNetwork_networkId\"><label for=\"node-input-deleteNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteNetwork_networkIdType\" value=\"string\" ></div>","example":"[]","summary":"Delete a network"},{"methodGroup":"Networks","methodName":"getNetworkAccessPolicies","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkAccessPolicies_networkId\"><label for=\"node-input-getNetworkAccessPolicies_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkAccessPolicies_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAccessPolicies_networkIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"number\": 1,\n      \"name\": \"My access policy\",\n      \"accessType\": \"8021.x\",\n      \"guestVlan\": 3700,\n      \"radiusServers\": [\n        {\n          \"ip\": \"1.2.3.4\",\n          \"port\": 1337\n        },\n        {\n          \"ip\": \"2.3.4.5\",\n          \"port\": 1337\n        }\n      ]\n    }\n  ]\n]","summary":"List the access policies for this network. Only valid for MS networks."},{"methodGroup":"Networks","methodName":"getNetworkAirMarshal","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"t0"},{"camelCaseName":"timespan"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkAirMarshal_networkId\"><label for=\"node-input-getNetworkAirMarshal_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkAirMarshal_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAirMarshal_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkAirMarshal_t0\"><label for=\"node-input-getNetworkAirMarshal_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 31 days from today.</p><input type=\"text\" id=\"node-input-getNetworkAirMarshal_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAirMarshal_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkAirMarshal_timespan\"><label for=\"node-input-getNetworkAirMarshal_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 7 days.</p><input type=\"text\" id=\"node-input-getNetworkAirMarshal_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAirMarshal_timespanType\" value=\"integer\" ></div>","example":"[\n  [\n    {\n      \"ssid\": \"linksys\",\n      \"bssids\": [\n        {\n          \"bssid\": \"00:11:22:33:44:55\",\n          \"contained\": false,\n          \"detectedBy\": [\n            {\n              \"device\": \"Q234-ABCD-5678\",\n              \"rssi\": 17\n            }\n          ]\n        }\n      ],\n      \"channels\": [\n        36,\n        40\n      ],\n      \"firstSeen\": 1518365681,\n      \"lastSeen\": 1526087474,\n      \"wiredMacs\": [\n        \"00:11:22:33:44:55\"\n      ],\n      \"wiredVlans\": [\n        0,\n        108\n      ],\n      \"wiredLastSeen\": 1526087474\n    }\n  ]\n]","summary":"List Air Marshal scan results from a network"},{"methodGroup":"Networks","methodName":"bindNetwork","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"bindNetwork"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"bindNetwork_networkId\"><label for=\"node-input-bindNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-bindNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-bindNetwork_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"bindNetwork_bindNetwork\"><label for=\"node-input-bindNetwork_bindNetwork\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>bindNetwork<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-bindNetwork_bindNetwork\" placeholder=\"msg.bindNetwork\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-bindNetwork_bindNetworkType\" value=\"\" ></div>","example":"[]","summary":"Bind a network to a template."},{"methodGroup":"Networks","methodName":"getNetworkBluetoothSettings","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkBluetoothSettings_networkId\"><label for=\"node-input-getNetworkBluetoothSettings_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkBluetoothSettings_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothSettings_networkIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"scanningEnabled\": true,\n    \"advertisingEnabled\": true,\n    \"uuid\": \"00000000-0000-0000-000-000000000000\",\n    \"majorMinorAssignmentMode\": \"Non-unique\",\n    \"major\": 1\n  }\n]","summary":"Return the Bluetooth settings for a network. <a href=https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)>Bluetooth settings</a> must be enabled on the network."},{"methodGroup":"Networks","methodName":"updateNetworkBluetoothSettings","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"updateNetworkBluetoothSettings"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkBluetoothSettings_networkId\"><label for=\"node-input-updateNetworkBluetoothSettings_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkBluetoothSettings_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkBluetoothSettings_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkBluetoothSettings_updateNetworkBluetoothSettings\"><label for=\"node-input-updateNetworkBluetoothSettings_updateNetworkBluetoothSettings\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkBluetoothSettings</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkBluetoothSettings_updateNetworkBluetoothSettings\" placeholder=\"msg.updateNetworkBluetoothSettings\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkBluetoothSettings_updateNetworkBluetoothSettingsType\" value=\"\" ></div>","example":"[\n  {\n    \"scanningEnabled\": true,\n    \"advertisingEnabled\": true,\n    \"uuid\": \"00000000-0000-0000-000-000000000000\",\n    \"majorMinorAssignmentMode\": \"Non-unique\",\n    \"major\": 1\n  }\n]","summary":"Update the Bluetooth settings for a network. See the docs page for <a href=https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)>Bluetooth settings</a>."},{"methodGroup":"Networks","methodName":"getNetworkSiteToSiteVpn","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkSiteToSiteVpn_networkId\"><label for=\"node-input-getNetworkSiteToSiteVpn_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkSiteToSiteVpn_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkSiteToSiteVpn_networkIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"mode\": \"spoke\",\n    \"hubs\": [\n      {\n        \"hubId\": \"N_4901849\",\n        \"useDefaultRoute\": true\n      },\n      {\n        \"hubId\": \"N_1892489\",\n        \"useDefaultRoute\": false\n      }\n    ],\n    \"subnets\": [\n      {\n        \"localSubnet\": \"192.168.1.0/24\",\n        \"useVpn\": true\n      },\n      {\n        \"localSubnet\": \"192.168.128.0/24\",\n        \"useVpn\": true\n      }\n    ]\n  }\n]","summary":"Return the site-to-site VPN settings of a network. Only valid for MX networks."},{"methodGroup":"Networks","methodName":"updateNetworkSiteToSiteVpn","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"updateNetworkSiteToSiteVpn"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkSiteToSiteVpn_networkId\"><label for=\"node-input-updateNetworkSiteToSiteVpn_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkSiteToSiteVpn_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkSiteToSiteVpn_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpn\"><label for=\"node-input-updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpn\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkSiteToSiteVpn</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpn\" placeholder=\"msg.updateNetworkSiteToSiteVpn\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpnType\" value=\"\" ></div>","example":"[\n  {\n    \"mode\": \"spoke\",\n    \"hubs\": [\n      {\n        \"hubId\": \"N_4901849\",\n        \"useDefaultRoute\": true\n      },\n      {\n        \"hubId\": \"N_1892489\",\n        \"useDefaultRoute\": false\n      }\n    ],\n    \"subnets\": [\n      {\n        \"localSubnet\": \"192.168.1.0/24\",\n        \"useVpn\": true\n      },\n      {\n        \"localSubnet\": \"192.168.128.0/24\",\n        \"useVpn\": true\n      }\n    ]\n  }\n]","summary":"Update the site-to-site VPN settings of a network. Only valid for MX networks in NAT mode."},{"methodGroup":"Networks","methodName":"splitNetwork","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"splitNetwork_networkId\"><label for=\"node-input-splitNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-splitNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-splitNetwork_networkIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"resultingNetworks\": [\n      {\n        \"id\": \"N_1234\",\n        \"organizationId\": \"2930418\",\n        \"name\": \"Long Island Office - switch\",\n        \"timeZone\": \"America/Los_Angeles\",\n        \"tags\": \" tag1 tag2 \",\n        \"type\": \"switch\",\n        \"disableMyMerakiCom\": false\n      },\n      {\n        \"id\": \"N_5678\",\n        \"organizationId\": \"2930418\",\n        \"name\": \"Long Island Office - wireless\",\n        \"timeZone\": \"America/Los_Angeles\",\n        \"tags\": \" tag1 tag2 \",\n        \"type\": \"wireless\",\n        \"disableMyMerakiCom\": false\n      }\n    ]\n  }\n]","summary":"Split a combined network into individual networks for each type of device"},{"methodGroup":"Networks","methodName":"getNetworkTraffic","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"timespan"},{"camelCaseName":"deviceType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkTraffic_networkId\"><label for=\"node-input-getNetworkTraffic_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkTraffic_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkTraffic_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkTraffic_timespan\"><label for=\"node-input-getNetworkTraffic_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p>The timespan for the data. Must be an integer representing a duration in seconds between two hours and one month. (Mandatory.)</p><input type=\"text\" id=\"node-input-getNetworkTraffic_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkTraffic_timespanType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkTraffic_deviceType\"><label for=\"node-input-getNetworkTraffic_deviceType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>deviceType</b> <i>&nbspstring</i></span></label><p>Filter the data by device type: combined (default), wireless, switch, appliance. When using combined, for each rule the data will come from the device type with the most usage.</p><input type=\"text\" id=\"node-input-getNetworkTraffic_deviceType\" placeholder=\"msg.deviceType\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkTraffic_deviceTypeType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"application\": \"Gmail\",\n      \"destination\": null,\n      \"protocol\": \"TCP\",\n      \"port\": 443,\n      \"sent\": 138,\n      \"recv\": 61,\n      \"numClients\": 7,\n      \"activeTime\": 77000,\n      \"flows\": 300\n    }\n  ]\n]","summary":"The traffic analysis data for this network.\n<a href=https://documentation.meraki.com/MR/Monitoring_and_Reporting/Hostname_Visibility>Traffic Analysis with Hostname Visibility</a> must be enabled on the network.\n"},{"methodGroup":"Networks","methodName":"unbindNetwork","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"unbindNetwork_networkId\"><label for=\"node-input-unbindNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-unbindNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-unbindNetwork_networkIdType\" value=\"string\" ></div>","example":"[]","summary":"Unbind a network from a template."},{"methodGroup":"Networks","methodName":"getOrganizationNetworks","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"configTemplateId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationNetworks_organizationId\"><label for=\"node-input-getOrganizationNetworks_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationNetworks_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationNetworks_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationNetworks_configTemplateId\"><label for=\"node-input-getOrganizationNetworks_configTemplateId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>configTemplateId</b> <i>&nbspstring</i></span></label><p>An optional parameter that is the ID of a config template. Will return all networks bound to that template.</p><input type=\"text\" id=\"node-input-getOrganizationNetworks_configTemplateId\" placeholder=\"msg.configTemplateId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationNetworks_configTemplateIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"id\": \"L_123456\",\n      \"organizationId\": \"2930418\",\n      \"name\": \"Long Island Office\",\n      \"timeZone\": \"America/Los_Angeles\",\n      \"tags\": \" tag1 tag2 \",\n      \"type\": \"combined\",\n      \"disableMyMerakiCom\": false\n    }\n  ]\n]","summary":"List the networks in an organization"},{"methodGroup":"Networks","methodName":"createOrganizationNetwork","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"createOrganizationNetwork"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"createOrganizationNetwork_organizationId\"><label for=\"node-input-createOrganizationNetwork_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationNetwork_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationNetwork_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"createOrganizationNetwork_createOrganizationNetwork\"><label for=\"node-input-createOrganizationNetwork_createOrganizationNetwork\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>createOrganizationNetwork<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationNetwork_createOrganizationNetwork\" placeholder=\"msg.createOrganizationNetwork\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationNetwork_createOrganizationNetworkType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"L_123456\",\n    \"organizationId\": \"2930418\",\n    \"name\": \"Long Island Office\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"tags\": \" tag1 tag2 \",\n    \"type\": \"combined\",\n    \"disableMyMerakiCom\": false\n  }\n]","summary":"Create a network"},{"methodGroup":"Networks","methodName":"combineOrganizationNetworks","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"combineOrganizationNetworks"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"combineOrganizationNetworks_organizationId\"><label for=\"node-input-combineOrganizationNetworks_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-combineOrganizationNetworks_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-combineOrganizationNetworks_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"combineOrganizationNetworks_combineOrganizationNetworks\"><label for=\"node-input-combineOrganizationNetworks_combineOrganizationNetworks\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>combineOrganizationNetworks<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-combineOrganizationNetworks_combineOrganizationNetworks\" placeholder=\"msg.combineOrganizationNetworks\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-combineOrganizationNetworks_combineOrganizationNetworksType\" value=\"\" ></div>","example":"[\n  {\n    \"resultingNetwork\": {\n      \"id\": \"L_123456\",\n      \"organizationId\": \"2930418\",\n      \"name\": \"Long Island Office\",\n      \"timeZone\": \"America/Los_Angeles\",\n      \"tags\": \" tag1 tag2 \",\n      \"type\": \"combined\",\n      \"disableMyMerakiCom\": false\n    }\n  }\n]","summary":"Combine multiple networks into a single network"}],"storedParams":[],"formHtml":"","method":"getOrganizationNetworks","x":590,"y":140,"wires":[["f3d55c1c.60f2a"]]},{"id":"bf7ffb44.6b0ef","type":"inject","z":"4ae55c7a.10e9bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["1d2c2923.bf7e77","6ea36e0d.ba09c8"]]},{"id":"369e5650.57968a","type":"function","z":"4ae55c7a.10e9bc","name":"Create and pick org","func":"var options = [];\n\nmsg.payload.forEach(d => {\n    var obj = {};\n    obj[d.name] = d.id;\n    options.push(obj)\n})\n\nmsg.payload = msg.payload[0].id;\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["1024480b.51f24"]]},{"id":"7b268e41.9448b8","type":"change","z":"4ae55c7a.10e9bc","name":"set flow.organizationId","rules":[{"t":"set","p":"organizationId","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":100,"wires":[["d2a4add6.89d2c"]]},{"id":"d2a4add6.89d2c","type":"link out","z":"4ae55c7a.10e9bc","name":"","links":["785fdfe0.883f3"],"x":1075,"y":100,"wires":[]},{"id":"785fdfe0.883f3","type":"link in","z":"4ae55c7a.10e9bc","name":"","links":["d2a4add6.89d2c","b2d5a857.2d7c68"],"x":115,"y":140,"wires":[["c89b02c8.ec8968"]]},{"id":"c89b02c8.ec8968","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"organizationId","pt":"msg","to":"organizationId","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["8fc8d271.4ef5c8"]]},{"id":"606008a7.2c0568","type":"inject","z":"4ae55c7a.10e9bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["c89b02c8.ec8968"]]},{"id":"f3d55c1c.60f2a","type":"function","z":"4ae55c7a.10e9bc","name":"Create and pick ID","func":"var options = [];\n\nmsg.payload.forEach(n => {\n    var obj = {};\n    obj[n.name] = n.id;\n    options.push(obj)\n})\n\nmsg.payload = msg.payload[0].id;\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["e52dcbfb.eb686"]]},{"id":"352c4f84.8518c","type":"change","z":"4ae55c7a.10e9bc","name":"set flow.networkId","rules":[{"t":"set","p":"networkId","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":140,"wires":[["93a604eb.6cd6c"]]},{"id":"93a604eb.6cd6c","type":"link out","z":"4ae55c7a.10e9bc","name":"","links":["f2a47b0f.29d2f8"],"x":1275,"y":140,"wires":[]},{"id":"87a4baf7.ea363","type":"meraki-dashboard-api","z":"4ae55c7a.10e9bc","service":"1a05818d.d80626","name":"getNetworkDevices","selectedGroup":"Devices","selectedMethod":"getNetworkDevices","filteredMethods":[{"methodGroup":"Devices","methodName":"getNetworkDevices","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevices_networkId\"><label for=\"node-input-getNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevices_networkIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"name\": \"My AP\",\n      \"lat\": 37.4180951010362,\n      \"lng\": -122.098531723022,\n      \"serial\": \"Q234-ABCD-5678\",\n      \"mac\": \"00:11:22:33:44:55\",\n      \"model\": \"MR34\",\n      \"address\": \"1600 Pennsylvania Ave\",\n      \"notes\": \"My AP's note\",\n      \"lanIp\": \"1.2.3.4\",\n      \"tags\": \" recently-added \",\n      \"networkId\": \"N_24329156\",\n      \"beaconIdParams\": {\n        \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n        \"major\": 5,\n        \"minor\": 3\n      },\n      \"firmware\": \"wireless-25-14\"\n    }\n  ]\n]","summary":"List the devices in a network"},{"methodGroup":"Devices","methodName":"claimNetworkDevices","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"claimNetworkDevices"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"claimNetworkDevices_networkId\"><label for=\"node-input-claimNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"claimNetworkDevices_claimNetworkDevices\"><label for=\"node-input-claimNetworkDevices_claimNetworkDevices\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>claimNetworkDevices<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_claimNetworkDevices\" placeholder=\"msg.claimNetworkDevices\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_claimNetworkDevicesType\" value=\"\" ></div>","example":"[]","summary":"Claim a device into a network"},{"methodGroup":"Devices","methodName":"getNetworkDevice","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevice_networkId\"><label for=\"node-input-getNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevice_serial\"><label for=\"node-input-getNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_serialType\" value=\"string\" ></div>","example":"[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]","summary":"Return a single device"},{"methodGroup":"Devices","methodName":"updateNetworkDevice","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"updateNetworkDevice"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkDevice_networkId\"><label for=\"node-input-updateNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_serial\"><label for=\"node-input-updateNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_updateNetworkDevice\"><label for=\"node-input-updateNetworkDevice_updateNetworkDevice\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkDevice</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_updateNetworkDevice\" placeholder=\"msg.updateNetworkDevice\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_updateNetworkDeviceType\" value=\"\" ></div>","example":"[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]","summary":"Update the attributes of a device"},{"methodGroup":"Devices","methodName":"blinkNetworkDeviceLeds","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"blinkNetworkDeviceLeds"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_networkId\"><label for=\"node-input-blinkNetworkDeviceLeds_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_serial\"><label for=\"node-input-blinkNetworkDeviceLeds_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\"><label for=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>blinkNetworkDeviceLeds</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" placeholder=\"msg.blinkNetworkDeviceLeds\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLedsType\" value=\"\" ></div>","example":"[\n  {\n    \"sentToDevice\": true\n  }\n]","summary":"Blink the LEDs on a device"},{"methodGroup":"Devices","methodName":"getNetworkDeviceLldp_cdp","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"timespan"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_networkId\"><label for=\"node-input-getNetworkDeviceLldp_cdp_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_serial\"><label for=\"node-input-getNetworkDeviceLldp_cdp_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_timespan\"><label for=\"node-input-getNetworkDeviceLldp_cdp_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which LLDP and CDP information will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds). LLDP and CDP information is sent to the Meraki dashboard every 10 minutes. In instances where this LLDP and CDP information matches an existing entry in the Meraki dashboard, the data is updated once every two hours. Meraki recommends querying LLDP and CDP information at an interval slightly greater than two hours, to ensure that unchanged CDP / LLDP information can be queried consistently.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_timespanType\" value=\"integer\" ></div>","example":"[\n  {\n    \"sourceMac\": \"00:11:22:33:44:55\",\n    \"ports\": {\n      \"8\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 10\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"8\"\n        }\n      },\n      \"12\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 11\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        },\n        \"lldp\": {\n          \"systemName\": \"Meraki MS350-24X - Phineas\",\n          \"portId\": \"11\",\n          \"managementAddress\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        }\n      }\n    }\n  }\n]","summary":"List LLDP and CDP information for a device"},{"methodGroup":"Devices","methodName":"getNetworkDeviceLossAndLatencyHistory","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"resolution"},{"camelCaseName":"uplink"},{"camelCaseName":"ip"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_networkId\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_serial\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t0\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t1\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 31 days after t0.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_timespan\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_resolution\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 60, 600, 3600, 86400. The default is 60.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolutionType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_uplink\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>uplink</b> <i>&nbspstring</i></span></label><p>The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2, cellular. The default is wan1.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" placeholder=\"msg.uplink\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplinkType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_ip\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>ip<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p>The destination IP used to obtain the requested stats. This is required.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" placeholder=\"msg.ip\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ipType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"startTime\": \"2018-10-09T22:18:27Z\",\n      \"endTime\": \"2018-10-09T22:19:27Z\",\n      \"lossPercent\": 5,\n      \"latencyMs\": 324\n    },\n    {\n      \"startTime\": \"2018-10-09T22:19:27Z\",\n      \"endTime\": \"2018-10-09T22:20:27Z\",\n      \"lossPercent\": 1,\n      \"latencyMs\": 43\n    },\n    {\n      \"startTime\": \"2018-10-09T22:20:27Z\",\n      \"endTime\": \"2018-10-09T22:21:27Z\",\n      \"lossPercent\": 0,\n      \"latencyMs\": 44\n    }\n  ]\n]","summary":"Get the uplink loss percentage and latency in milliseconds for a wired network device."},{"methodGroup":"Devices","methodName":"getNetworkDevicePerformance","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevicePerformance_networkId\"><label for=\"node-input-getNetworkDevicePerformance_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevicePerformance_serial\"><label for=\"node-input-getNetworkDevicePerformance_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_serialType\" value=\"string\" ></div>","example":"[\n  {\n    \"perfScore\": 10\n  }\n]","summary":"Return the performance score for a single device. Only primary MX devices supported. If no data is available a 204 error code is returned."},{"methodGroup":"Devices","methodName":"rebootNetworkDevice","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"rebootNetworkDevice_networkId\"><label for=\"node-input-rebootNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"rebootNetworkDevice_serial\"><label for=\"node-input-rebootNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_serialType\" value=\"string\" ></div>","example":"[\n  {\n    \"success\": true\n  }\n]","summary":"Reboot a device"},{"methodGroup":"Devices","methodName":"removeNetworkDevice","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"removeNetworkDevice_networkId\"><label for=\"node-input-removeNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"removeNetworkDevice_serial\"><label for=\"node-input-removeNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_serialType\" value=\"string\" ></div>","example":"[]","summary":"Remove a single device"},{"methodGroup":"Devices","methodName":"getNetworkDeviceUplink","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceUplink_networkId\"><label for=\"node-input-getNetworkDeviceUplink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceUplink_serial\"><label for=\"node-input-getNetworkDeviceUplink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_serialType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"interface\": \"WAN 1\",\n      \"status\": \"Active\",\n      \"ip\": \"1.2.3.4\",\n      \"gateway\": \"1.2.3.5\",\n      \"publicIp\": \"123.123.123.1\",\n      \"dns\": \"8.8.8.8, 8.8.4.4\",\n      \"usingStaticIp\": false\n    }\n  ]\n]","summary":"Return the uplink information for a device."},{"methodGroup":"Devices","methodName":"getOrganizationDevices","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"perPage"},{"camelCaseName":"startingAfter"},{"camelCaseName":"endingBefore"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationDevices_organizationId\"><label for=\"node-input-getOrganizationDevices_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationDevices_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_perPage\"><label for=\"node-input-getOrganizationDevices_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_startingAfter\"><label for=\"node-input-getOrganizationDevices_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_endingBefore\"><label for=\"node-input-getOrganizationDevices_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_endingBeforeType\" value=\"string\" ></div>","example":"[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"serial\": \"Q234-ABCD-5678\",\n    \"model\": \"MR34\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"lanIp\": \"1.2.3.4\"\n  }\n]","summary":"List the devices in an organization"}],"currentParams":[{"methodName":"getNetworkDevices","camelCaseName":"networkId","type":"str","value":""}],"storedParams":[{"methodName":"getNetworkDevices","camelCaseName":"networkId","type":"str","value":""}],"formHtml":"","method":"getNetworkDevices","x":550,"y":240,"wires":[["9f80f750.5603d8"]]},{"id":"345f792.95d8b86","type":"inject","z":"4ae55c7a.10e9bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["f6152306.72dd6"]]},{"id":"f2a47b0f.29d2f8","type":"link in","z":"4ae55c7a.10e9bc","name":"","links":["93a604eb.6cd6c"],"x":115,"y":240,"wires":[["f6152306.72dd6"]]},{"id":"f6152306.72dd6","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"networkId","pt":"msg","to":"networkId","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["87a4baf7.ea363"]]},{"id":"a7f67470.7c4638","type":"change","z":"4ae55c7a.10e9bc","name":"set src url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":340,"wires":[["5c402034.d8a86"]]},{"id":"85b9e87d.97d468","type":"delay","z":"4ae55c7a.10e9bc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":280,"wires":[["c2686a43.04e2a8"]]},{"id":"9621deaf.cd9cf","type":"ui_template","z":"4ae55c7a.10e9bc","group":"9da289d4.20cbc","name":"Snapshot","order":6,"width":6,"height":6,"format":"Snapshot\n<img src=\"data:image/png;base64,{{msg.payload}}\"\nid='img'\nalt='Getting Image'>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":4340,"y":680,"wires":[[]]},{"id":"d0131280.55fd38","type":"base64","z":"4ae55c7a.10e9bc","name":"","action":"","property":"payload","x":4560,"y":480,"wires":[["9621deaf.cd9cf"]]},{"id":"c2686a43.04e2a8","type":"http request","z":"4ae55c7a.10e9bc","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":340,"wires":[["f802c0b4.942bd8"]]},{"id":"f560a2b5.c8ba78","type":"change","z":"4ae55c7a.10e9bc","name":"Known Badger Test","rules":[{"t":"set","p":"serial","pt":"msg","to":"selectedMV","tot":"flow"},{"t":"set","p":"networkId","pt":"msg","to":"networkId","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\"timestamp\":\"2020-06-16T12:52:55.811999Z\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["c4c43111.ed89f"]]},{"id":"9f80f750.5603d8","type":"function","z":"4ae55c7a.10e9bc","name":"filter for Camera","func":"msg.payload = msg.payload.filter(d => d.model.includes(\"MV\"))\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":240,"wires":[["40b5b7e3.0c6738"]]},{"id":"40b5b7e3.0c6738","type":"function","z":"4ae55c7a.10e9bc","name":"Create and pick Camera","func":"var options = [];\n\nif(msg.payload.length > 0){\n    msg.payload.forEach(d => {\n        var obj = {};\n        obj[d.name || d.serial] = d.serial;\n        options.push(obj)\n    })\n\n    msg.payload = msg.payload[0].serial;\n}\n\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":240,"wires":[["72c64095.ec2cf"]]},{"id":"5f081944.fb6698","type":"change","z":"4ae55c7a.10e9bc","name":"set flow.selectedMV","rules":[{"t":"set","p":"selectedMV","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":240,"wires":[["585434aa.93ae44"]]},{"id":"585434aa.93ae44","type":"link out","z":"4ae55c7a.10e9bc","name":"","links":["251af74a.e2cfe8"],"x":1455,"y":240,"wires":[]},{"id":"251af74a.e2cfe8","type":"link in","z":"4ae55c7a.10e9bc","name":"","links":["585434aa.93ae44"],"x":115,"y":340,"wires":[["f560a2b5.c8ba78"]]},{"id":"c4c43111.ed89f","type":"meraki-dashboard-api","z":"4ae55c7a.10e9bc","service":"1a05818d.d80626","name":"generateNetworkCameraSnapshot","selectedGroup":"Cameras","selectedMethod":"generateNetworkCameraSnapshot","filteredMethods":[{"methodGroup":"Cameras","methodName":"generateNetworkCameraSnapshot","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"generateNetworkCameraSnapshot"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_networkId\"><label for=\"node-input-generateNetworkCameraSnapshot_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_serial\"><label for=\"node-input-generateNetworkCameraSnapshot_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\"><label for=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>generateNetworkCameraSnapshot</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" placeholder=\"msg.generateNetworkCameraSnapshot\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshotType\" value=\"\" ></div>","example":"[\n  {\n    \"url\": \"https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2\",\n    \"expiry\": \"Access to the image will expire at 2018-12-11T03:12:39Z.\"\n  }\n]","summary":"Generate a snapshot of what the camera sees at the specified time and return a link to that image."},{"methodGroup":"Cameras","methodName":"getNetworkCameraVideoLink","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"timestamp"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkCameraVideoLink_networkId\"><label for=\"node-input-getNetworkCameraVideoLink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_serial\"><label for=\"node-input-getNetworkCameraVideoLink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_timestamp\"><label for=\"node-input-getNetworkCameraVideoLink_timestamp\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timestamp</b> <i>&nbspstring</i></span></label><p>[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time.</p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_timestamp\" placeholder=\"msg.timestamp\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_timestampType\" value=\"string\" ></div>","example":"[\n  {\n    \"url\": \"https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077\"\n  }\n]","summary":"Returns video link to the specified camera. If a timestamp is supplied it links to that timestamp."}],"storedParams":[],"formHtml":"","method":"generateNetworkCameraSnapshot","x":600,"y":340,"wires":[["a7f67470.7c4638"]]},{"id":"1024480b.51f24","type":"ui_dropdown","z":"4ae55c7a.10e9bc","name":"Organizations","label":"Organization","tooltip":"Organizations","place":"Select option","group":"41182ecd.ee792","order":1,"width":8,"height":2,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":740,"y":100,"wires":[["7b268e41.9448b8"]]},{"id":"e52dcbfb.eb686","type":"ui_dropdown","z":"4ae55c7a.10e9bc","name":"Networks","label":"Network","tooltip":"Networks","place":"Select option","group":"41182ecd.ee792","order":2,"width":8,"height":2,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":980,"y":140,"wires":[["352c4f84.8518c"]]},{"id":"f0d93d1.b4e0e4","type":"inject","z":"4ae55c7a.10e9bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1320,"wires":[["2b3dafab.894bf8"]]},{"id":"2b3dafab.894bf8","type":"http request","z":"4ae55c7a.10e9bc","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":1320,"wires":[["72f7aa0.86b7cd8"]]},{"id":"72f7aa0.86b7cd8","type":"csv","z":"4ae55c7a.10e9bc","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":470,"y":1320,"wires":[["1561a29a.675d15"]]},{"id":"1561a29a.675d15","type":"debug","z":"4ae55c7a.10e9bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1400,"wires":[]},{"id":"3def8d83.f8855a","type":"http request","z":"4ae55c7a.10e9bc","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":460,"wires":[["418791c3.63a6d"]]},{"id":"32c1d88c.a607f","type":"function","z":"4ae55c7a.10e9bc","name":"Azure settings","func":"msg.payload = {};\nmsg.headers = {};\nmsg.url = 'https://finalbadger.cognitiveservices.azure.com/customvision/v3.0/Prediction/d4169192-b520-42d7-aa76-57929505295e/classify/iterations/Iteration3/url';\nmsg.headers['Prediction-Key'] = '83d2fca6a27a4410a4fc605dc5d22f0f';\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Ocp-Apim-Subscription-Key'] = 'b28181ed966647ae853e80ea109d1985';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":460,"wires":[["e24569df.760f98"]]},{"id":"41ec8a32.ded504","type":"comment","z":"4ae55c7a.10e9bc","name":"Orgaizations ID ","info":"This flow section is to obtain the organization IDs of the Meraki owner.","x":1200,"y":100,"wires":[]},{"id":"d581c0e4.e7371","type":"comment","z":"4ae55c7a.10e9bc","name":"Network ID","info":"This flow section is to obtain the organization IDs of the selected organizations.","x":1380,"y":140,"wires":[]},{"id":"6134d217.b7c464","type":"comment","z":"4ae55c7a.10e9bc","name":"Camera Selector","info":"This flow section is to obtain the devices available to a network and to choose a selected camera.","x":1580,"y":240,"wires":[]},{"id":"e1e3257a.f099a","type":"comment","z":"4ae55c7a.10e9bc","name":"HTTP request test flow","info":"This flow section is to test HTTP get requests to input to dashboard.","x":280,"y":1280,"wires":[]},{"id":"8d2a86e.a9d3078","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 25/02","info":"The camera selection should be based off a drop down menu, or in the case of the farm, all cameras event should be tracked and monitored for badger detection.- Tom 18/02/2020\n\n_Solution - Tom 25/02/2020 -> Changed the filter to filter for camera in the name, this can be changed as seen fit once the names of the outdoor cameras are located. _","x":1080,"y":1700,"wires":[]},{"id":"2aeb1c91.805794","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 24/02","info":"The snapshots sent here occasionally 404, unsure as to why. This may require a looped service if 404 retry but with a limited retry amount and a failure display upon count limit. - Tom 18/02/2020\n\n_Solution - Tom 24/02/2020 ->404 issue most likely server side taking time to produce a snapshot image that can be requested. Added a looping system to allow for a maximum of 80 seconds before responding with an error._ \n","x":1080,"y":1540,"wires":[]},{"id":"303e4151.3b378e","type":"comment","z":"4ae55c7a.10e9bc","name":"Improvement comment.","info":"The results from the cognotive service on azure should be parsed for badger likelihood. All snapshots related to an event could then have an average likelihood value. - Tom 18/02/2020\n\nThis average likelihood value should then be used to trigger a level alert (Green - possible, amber - probable?, red - likely). - Tom 18/02/2020  ","x":1340,"y":1380,"wires":[]},{"id":"357c8383.80062c","type":"comment","z":"4ae55c7a.10e9bc","name":"Improvement comment.","info":"HTTP requests need to access private dashboards using keys. - Tom 18/02/2020\n\nResults may from various data types so may need to replicate this flow for multiple types. E.g CSV, HTML, YANG models, JSON etc. - Tom 18/02/2020\n\nResulting data needs to be parsed for chosen data streams, which is to be presented in a visual form of choosing e.g graph, table, guage etc. - Tom 18/02/2020","x":280,"y":1380,"wires":[]},{"id":"abb79b6f.1b4ef","type":"comment","z":"4ae55c7a.10e9bc","name":"Improvement comment.","info":"This dashboard should be available over the internet using credential login, if not a set up for a raspberry pie may be required. - Tom 18/02/2020","x":1100,"y":1380,"wires":[]},{"id":"545bd417.28d6e4","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Sloved Comment. 18/02","info":"Does the relative organisation ID get set for the different networks? Unsure need more organisations to test. - Tom 18/02/2020\n\n_Solution - Tom 18/02/2020 -> It does. Test conducted using network devices on chosen network. (No devices visible on Branch 1 or 2 after camera filter as it should be.)_","x":1080,"y":1420,"wires":[]},{"id":"72c64095.ec2cf","type":"ui_dropdown","z":"4ae55c7a.10e9bc","name":"Cameras","label":"","tooltip":"","place":"Select option","group":"41182ecd.ee792","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1140,"y":240,"wires":[["5f081944.fb6698"]]},{"id":"f57a550d.21892","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 25/02","info":"Make dashboard look pretty. Sort out current grouping and tabs. - Tom 18/02/2020\n\n_Solution - Tom 25/02/2020 -> Just deleted all the old ones. _\n\n","x":1080,"y":1740,"wires":[]},{"id":"6c06c661.014c08","type":"link in","z":"4ae55c7a.10e9bc","name":"","links":["bfb8cba7.7f574","bcc0f9f6.5fa"],"x":115,"y":460,"wires":[["32c1d88c.a607f"]]},{"id":"75aa5f7.b4567a","type":"inject","z":"4ae55c7a.10e9bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":520,"wires":[["32c1d88c.a607f"]]},{"id":"3b02585a.f4588","type":"change","z":"4ae55c7a.10e9bc","name":"set flow.Url","rules":[{"t":"set","p":"ImageUrl","pt":"flow","to":"responseUrl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":380,"wires":[["bcc0f9f6.5fa"]]},{"id":"bcc0f9f6.5fa","type":"link out","z":"4ae55c7a.10e9bc","name":"","links":["6c06c661.014c08"],"x":1675,"y":380,"wires":[]},{"id":"e24569df.760f98","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"payload.url","pt":"msg","to":"ImageUrl","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":460,"wires":[["3def8d83.f8855a"]]},{"id":"d98da9e2.e29ca","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 18/02","info":"The url should be taken from the snapshots not from random URLs. - Tom 18/02/2020\n\n_Solution - Tom 18/02/2020 -> Used a set node in previous flow to set flow.url parameter, created a function node to set json values fed to HTTP post and added a change node after to make a new set value message.payload.url to now be flow.url._","x":1080,"y":1460,"wires":[]},{"id":"d1f2f510.bed6a","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 25/02","info":"Clean up the various versions of meraki dashboards set up in the meraki nodes.- Tom 18/02/2020\n\n_Solution - Tom 25/02/2020 -> Just deleted them, not too hard. _","x":1080,"y":1660,"wires":[]},{"id":"6b7c7b70.695ecc","type":"comment","z":"4ae55c7a.10e9bc","name":"Question Comment.","info":"Should a snapshot be unavailable no attempt to post should be made to the cognotive services, maybe attempt a switch node to direct data.- Tom 19/02/2020\n\nNot sure this is needed anymore due to the catch made earlier in the first get flow. - Tom 27/02/2020","x":770,"y":1460,"wires":[]},{"id":"ebd834ed.0e45f8","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 19/02","info":"Recieving a yellow warning about set properties, still functioning but still don't like the idea of issues. - Tom 19/02/2020\n\n_Solution - Tom 19/02/2020 -> The HTTP post request wasn't a fan of setting the API url of the cognotivie service being set in the actual node (strange), have now set it within the function node that exists before the request. _","x":1080,"y":1500,"wires":[]},{"id":"d0a6e5fb.e9d2b8","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 25/02","info":"Push notifications need to be stored in a notifications tab. This will prevent the requirement of real time viewing of dashboard. - Tom 19/02/2020\n\n_Solution - Tom 25/02/2020 -> Created a set node at the start of the flow to create an empty flow.options array, this was later set in the notification flow to msg.options. To which the values are then pushed. _","x":1080,"y":1580,"wires":[]},{"id":"8efacc36.3c7c38","type":"comment","z":"4ae55c7a.10e9bc","name":"Improvement comment.","info":"Events should take only a few photos before making a decision in case a badger enters frame and does not leave for an enlongated period of time. - Tom 19/02/2020\n\nIf a motion is triggered via another cause e.g a cow being in frame or another animal. Could miss potential badger related events. - Tom 20/02/2020","x":1480,"y":1400,"wires":[]},{"id":"418791c3.63a6d","type":"json","z":"4ae55c7a.10e9bc","name":"","property":"payload","action":"","pretty":false,"x":850,"y":460,"wires":[["8849e787.9bbf38","56c9be86.910ad"]]},{"id":"db2f1fc3.54bdd","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"payload.predictions[0].probability","propertyType":"msg","rules":[{"t":"lt","v":"0.7","vt":"num"},{"t":"gte","v":"0.7","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":420,"wires":[["3ac54c0b.7bed3c"],["bd30cb00.1df0f8"]]},{"id":"b62951c0.976cb","type":"ui_toast","z":"4ae55c7a.10e9bc","position":"dialog","displayTime":"10","highlight":"Red","sendall":true,"outputs":1,"ok":"PANIC","cancel":"Ignore","raw":false,"topic":"","name":"","x":1410,"y":460,"wires":[["f3c17b10.c77e4"]]},{"id":"bd30cb00.1df0f8","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Likely badger on site.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":460,"wires":[["b62951c0.976cb"]]},{"id":"d79e4b0f.744668","type":"ui_toast","z":"4ae55c7a.10e9bc","position":"dialog","displayTime":"10","highlight":"Red","sendall":true,"outputs":1,"ok":"PANIC","cancel":"Dismiss","raw":false,"topic":"","name":"","x":1410,"y":380,"wires":[[]]},{"id":"3ac54c0b.7bed3c","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Potential badger on site.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":380,"wires":[["d79e4b0f.744668"]]},{"id":"8849e787.9bbf38","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"payload.predictions[0].tagName","propertyType":"msg","rules":[{"t":"eq","v":"Badger","vt":"str"},{"t":"eq","v":"Negative","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":460,"wires":[["db2f1fc3.54bdd"],[]]},{"id":"f802c0b4.942bd8","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":340,"wires":[["8bb6618c.605bc"],["3b02585a.f4588"]]},{"id":"8bb6618c.605bc","type":"function","z":"4ae55c7a.10e9bc","name":"Message count","func":"msg.counter[\"count\"] = msg.counter.count + 1;\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":300,"wires":[["2d10b2b8.5564ce"]]},{"id":"2d10b2b8.5564ce","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"counter.count","propertyType":"msg","rules":[{"t":"gt","v":"7","vt":"num"},{"t":"lte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":300,"wires":[["177c859a.61b1aa"],["85b9e87d.97d468"]]},{"id":"5c402034.d8a86","type":"function","z":"4ae55c7a.10e9bc","name":"Message count","func":"msg.counter = {};\nmsg.counter[\"count\"] = 0;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":340,"wires":[["85b9e87d.97d468"]]},{"id":"177c859a.61b1aa","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Could not retrive snapshot.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":260,"wires":[["4a941a54.5378bc"]]},{"id":"57f9a601.9d8b38","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 27/02","info":"If photo does error after set time limit, inform user via dashboard. (Decide a time for timeout.) - Tom 24/02/2020\n\n_Solution - Tom 27/02/2020 -> Added a notification node at the end of the catch error flow. _\n\n\n\n","x":1080,"y":1780,"wires":[]},{"id":"f098d81.60474a8","type":"comment","z":"4ae55c7a.10e9bc","name":"Improvement comment.","info":"Snapshots should not be based off a singular time stamp, a selection of (3?) or more based off an events start time and end time would provide less false positives. - Tom 18/02/2020","x":1140,"y":1320,"wires":[]},{"id":"cedd4772.547068","type":"ui_dropdown","z":"4ae55c7a.10e9bc","name":"","label":"","tooltip":"","place":"Select option","group":"62cd0fd4.192d98","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":2600,"y":400,"wires":[["582c9b02.cd8824"]]},{"id":"f3c17b10.c77e4","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"PANIC","vt":"str"},{"t":"neq","v":"PANIC","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":460,"wires":[["ad367cbf.91e5"],[]]},{"id":"476c9841.e9df8","type":"function","z":"4ae55c7a.10e9bc","name":"Push to options","func":"//msg.options = [];\nmsg.options.push(msg.headers.date)\n\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":420,"wires":[["343a1b75.0e4e64"]]},{"id":"ad367cbf.91e5","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"options","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":420,"wires":[["476c9841.e9df8"]]},{"id":"6ea36e0d.ba09c8","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"options","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":60,"wires":[[]]},{"id":"7dc34a1.072f434","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 25/02","info":"When you reload the dashboard you lose the stored notifications. Need to stay after this - Tom 25/02/2020\n\n_Solution - Tom 25/02/2020 -> After function to push options to msg.options, reset the flow.options variable using a change node to msg.options. Now stores previous notifications in flow.options. _","x":1080,"y":1620,"wires":[]},{"id":"343a1b75.0e4e64","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"options","pt":"flow","to":"options","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":420,"wires":[["36d5643a.b3305c"]]},{"id":"31895f74.4eb248","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 27/02","info":"Need to be able to remove comments. - Tom 25/02/2020\n\n_Solution - Tom 27/02/2020 -> Added a remove notifications button that resets the flow and message options to empty json arrays before passing to the drop down menu. _","x":1080,"y":1820,"wires":[]},{"id":"4a941a54.5378bc","type":"ui_toast","z":"4ae55c7a.10e9bc","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2060,"y":260,"wires":[]},{"id":"8dc12b31.028b7","type":"ui_button","z":"4ae55c7a.10e9bc","name":"","group":"62cd0fd4.192d98","order":1,"width":0,"height":0,"passthru":false,"label":"Clear notifications","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Clear","payloadType":"str","topic":"","x":1890,"y":500,"wires":[["f1d76336.f97518"]]},{"id":"f1d76336.f97518","type":"ui_toast","z":"4ae55c7a.10e9bc","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Yes.","cancel":"No.","raw":false,"topic":"Are you sure you wish to clear notifications?","name":"","x":2070,"y":500,"wires":[["36d5643a.b3305c"]]},{"id":"3a878ccc.b05114","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"options","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":2440,"y":460,"wires":[["cedd4772.547068"]]},{"id":"36d5643a.b3305c","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"PANIC","vt":"str"},{"t":"eq","v":"Ignore","vt":"str"},{"t":"eq","v":"Yes.","vt":"str"},{"t":"eq","v":"No.","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":2270,"y":460,"wires":[["cedd4772.547068"],[],["3a878ccc.b05114"],[]]},{"id":"25e5eb3e.a10e34","type":"ui_date_picker","z":"4ae55c7a.10e9bc","name":"","label":"date","group":"94e1c34e.3cb778","order":6,"width":0,"height":0,"passthru":true,"topic":"","x":130,"y":640,"wires":[["6666d9d3.c2d6b"]]},{"id":"287e3b48.e1c84c","type":"ui_slider","z":"4ae55c7a.10e9bc","name":"","label":"Hour","tooltip":"","group":"94e1c34e.3cb778","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"24","step":1,"x":130,"y":680,"wires":[["b0d25fd5.6b7e88"]]},{"id":"6a8b0e4e.795208","type":"ui_slider","z":"4ae55c7a.10e9bc","name":"","label":"Minutes","tooltip":"","group":"94e1c34e.3cb778","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"60","step":1,"x":140,"y":720,"wires":[["74ed2592.695d6c"]]},{"id":"14790f6f.6d6531","type":"ui_slider","z":"4ae55c7a.10e9bc","name":"","label":"Seconds","tooltip":"","group":"94e1c34e.3cb778","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"60","step":1,"x":140,"y":760,"wires":[["c9004d89.73add"]]},{"id":"e5a2c46a.05605","type":"webhookrelay","z":"4ae55c7a.10e9bc","buckets":"nodered","x":120,"y":1520,"wires":[["3af9bac2.0fb646","b0374255.5eefa8"]]},{"id":"3af9bac2.0fb646","type":"json","z":"4ae55c7a.10e9bc","name":"","property":"payload.body","action":"","pretty":false,"x":310,"y":1520,"wires":[["30ba34c6.d19f8c"]]},{"id":"30ba34c6.d19f8c","type":"function","z":"4ae55c7a.10e9bc","name":"set msg.payload time","func":"msg.payload =\n{ \n    \"timestamp\":msg.payload.body.occurredAt\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1520,"wires":[[]]},{"id":"b0374255.5eefa8","type":"debug","z":"4ae55c7a.10e9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":300,"y":1620,"wires":[]},{"id":"e977b09d.292348","type":"inject","z":"4ae55c7a.10e9bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["f560a2b5.c8ba78"]]},{"id":"582c9b02.cd8824","type":"filter","z":"4ae55c7a.10e9bc","name":"","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"PANIC","vt":"str","output":1},{"t":"eq","v":"IGNORE","vt":"str","output":1},{"t":"eq","v":"Yes.","vt":"str","output":1},{"t":"eq","v":"","vt":"str","output":1},{"t":"eq","v":"No.","vt":"str","output":1},{"t":"else","output":2}],"checkall":"true","outputs":2,"x":2730,"y":400,"wires":[[],["61766996.ecbf1"]]},{"id":"61766996.ecbf1","type":"moment","z":"4ae55c7a.10e9bc","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"","locale":"en_GB","output":"","outputType":"msg","outTz":"Europe/London","x":2900,"y":440,"wires":[["57a292a0.6961fc","c2cc61e.40fd12"]]},{"id":"57a292a0.6961fc","type":"function","z":"4ae55c7a.10e9bc","name":"set msg.payload time","func":"msg.payload =\n{ \n    \"timestamp\":msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3120,"y":440,"wires":[["7df8a57c.f82d6c"]]},{"id":"840cc625.c4db78","type":"change","z":"4ae55c7a.10e9bc","name":"set src url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3780,"y":440,"wires":[["c704b401.b96b"]]},{"id":"3e11e059.a787b8","type":"delay","z":"4ae55c7a.10e9bc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4120,"y":400,"wires":[["cca62152.af3c28"]]},{"id":"cca62152.af3c28","type":"http request","z":"4ae55c7a.10e9bc","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":4270,"y":440,"wires":[["5bfc8be0.4aa624"]]},{"id":"7df8a57c.f82d6c","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"serial","pt":"msg","to":"selectedMV","tot":"flow"},{"t":"set","p":"networkId","pt":"msg","to":"networkId","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3320,"y":440,"wires":[["1a01790e.bd9fdf"]]},{"id":"1a01790e.bd9fdf","type":"meraki-dashboard-api","z":"4ae55c7a.10e9bc","service":"1a05818d.d80626","name":"generateNetworkCameraSnapshot","selectedGroup":"Cameras","selectedMethod":"generateNetworkCameraSnapshot","filteredMethods":[{"methodGroup":"Cameras","methodName":"generateNetworkCameraSnapshot","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"generateNetworkCameraSnapshot"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_networkId\"><label for=\"node-input-generateNetworkCameraSnapshot_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_serial\"><label for=\"node-input-generateNetworkCameraSnapshot_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\"><label for=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>generateNetworkCameraSnapshot</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" placeholder=\"msg.generateNetworkCameraSnapshot\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshotType\" value=\"\" ></div>","example":"[\n  {\n    \"url\": \"https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2\",\n    \"expiry\": \"Access to the image will expire at 2018-12-11T03:12:39Z.\"\n  }\n]","summary":"Generate a snapshot of what the camera sees at the specified time and return a link to that image."},{"methodGroup":"Cameras","methodName":"getNetworkCameraVideoLink","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"timestamp"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkCameraVideoLink_networkId\"><label for=\"node-input-getNetworkCameraVideoLink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_serial\"><label for=\"node-input-getNetworkCameraVideoLink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_timestamp\"><label for=\"node-input-getNetworkCameraVideoLink_timestamp\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timestamp</b> <i>&nbspstring</i></span></label><p>[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time.</p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_timestamp\" placeholder=\"msg.timestamp\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_timestampType\" value=\"string\" ></div>","example":"[\n  {\n    \"url\": \"https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077\"\n  }\n]","summary":"Returns video link to the specified camera. If a timestamp is supplied it links to that timestamp."}],"storedParams":[],"formHtml":"","method":"generateNetworkCameraSnapshot","x":3560,"y":440,"wires":[["840cc625.c4db78"]]},{"id":"5bfc8be0.4aa624","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":4410,"y":440,"wires":[["bd4c3b21.7eb728"],["d0131280.55fd38"]]},{"id":"bd4c3b21.7eb728","type":"function","z":"4ae55c7a.10e9bc","name":"Message count","func":"msg.counter[\"count\"] = msg.counter.count + 1;\nreturn msg;","outputs":1,"noerr":0,"x":4580,"y":400,"wires":[["f2ee4664.729b78"]]},{"id":"f2ee4664.729b78","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"counter.count","propertyType":"msg","rules":[{"t":"gt","v":"7","vt":"num"},{"t":"lte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":4730,"y":400,"wires":[["2419fc06.3332fc"],["3e11e059.a787b8"]]},{"id":"c704b401.b96b","type":"function","z":"4ae55c7a.10e9bc","name":"Message count","func":"msg.counter = {};\nmsg.counter[\"count\"] = 0;\nreturn msg;","outputs":1,"noerr":0,"x":3940,"y":440,"wires":[["3e11e059.a787b8"]]},{"id":"2419fc06.3332fc","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Could not retrive snapshot.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4900,"y":360,"wires":[["60083bb9.3f465c"]]},{"id":"60083bb9.3f465c","type":"ui_toast","z":"4ae55c7a.10e9bc","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":4900,"y":320,"wires":[]},{"id":"7ad67bea.4d2dec","type":"comment","z":"4ae55c7a.10e9bc","name":"Known Badger Snapshot","info":"Simulate a spotted badger.","x":1830,"y":380,"wires":[]},{"id":"a8baa914.ccee1","type":"comment","z":"4ae55c7a.10e9bc","name":"Badger Likelihood decision","info":"Decides if it is a badger or not.","x":1330,"y":420,"wires":[]},{"id":"c98e613f.dd2438","type":"comment","z":"4ae55c7a.10e9bc","name":"Notification Storage and deletion","info":"Stores and deletes confirmed badger notifications.","x":2310,"y":380,"wires":[]},{"id":"7368768a.9b05f","type":"comment","z":"4ae55c7a.10e9bc","name":"Notifications Snapshot generator","info":"Creates and displays a snapshot based off notifications.","x":4830,"y":480,"wires":[]},{"id":"12d7267.20aafda","type":"comment","z":"4ae55c7a.10e9bc","d":true,"name":"Solved Comment. 19/03","info":"Snapshots should be chosen from notification drop down not from random inputs. - Tom 19/03/2020\n\n_Solution - Tom 19/03/2020 -> Take the date and time from the chosen notification and pass it back to the snapshot flow._","x":1080,"y":1860,"wires":[]},{"id":"b0d25fd5.6b7e88","type":"function","z":"4ae55c7a.10e9bc","name":"Convert to hours","func":"msg.payload = msg.payload * 1000 * 60 * 60;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":680,"wires":[["f8999ffb.33936"]]},{"id":"74ed2592.695d6c","type":"function","z":"4ae55c7a.10e9bc","name":"Convert to minutes","func":"msg.payload = msg.payload * 1000 * 60;\nmsg.parts = 2;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":720,"wires":[["12c5a416.f771cc"]]},{"id":"c9004d89.73add","type":"function","z":"4ae55c7a.10e9bc","name":"Convert to seconds","func":"msg.payload = msg.payload * 1000;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":310,"y":760,"wires":[["dc366809.8597c"]]},{"id":"fd1bdfb3.2250f","type":"moment","z":"4ae55c7a.10e9bc","name":"Set date time to 00:00:00","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":"44607","adjType":"seconds","adjDir":"subtract","format":"","locale":"en_GB","output":"","outputType":"msg","outTz":"Europe/London","x":1510,"y":640,"wires":[["c774589e.f54218","fe0500c3.4360e8"]]},{"id":"774e7d92.8a14c4","type":"inject","z":"4ae55c7a.10e9bc","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["287e3b48.e1c84c","6a8b0e4e.795208","14790f6f.6d6531"]]},{"id":"f8999ffb.33936","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"hourschosen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":680,"wires":[["a705072f.441f4"]]},{"id":"dc366809.8597c","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"secondschosen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":760,"wires":[["a705072f.441f4"]]},{"id":"12c5a416.f771cc","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"minuteschosen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":720,"wires":[["a705072f.441f4"]]},{"id":"a705072f.441f4","type":"link out","z":"4ae55c7a.10e9bc","name":"","links":["5e53a879.c7fac8"],"x":755,"y":640,"wires":[]},{"id":"5e53a879.c7fac8","type":"link in","z":"4ae55c7a.10e9bc","name":"","links":["a705072f.441f4"],"x":815,"y":640,"wires":[["4e731731.08647"]]},{"id":"4e731731.08647","type":"change","z":"4ae55c7a.10e9bc","name":"Combine all times into one msg","rules":[{"t":"set","p":"hours","pt":"msg","to":"hourschosen","tot":"flow"},{"t":"set","p":"minutes","pt":"msg","to":"minuteschosen","tot":"flow"},{"t":"set","p":"seconds","pt":"msg","to":"secondschosen","tot":"flow"},{"t":"set","p":"date","pt":"msg","to":"datechosen","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":640,"wires":[["7a0510fd.d0fb8"]]},{"id":"7a0510fd.d0fb8","type":"function","z":"4ae55c7a.10e9bc","name":"Convert times to one stamp","func":"msg.payload = msg.date + msg.hours + msg.minutes + msg.seconds;\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":640,"wires":[["fd1bdfb3.2250f"]]},{"id":"6666d9d3.c2d6b","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"datechosen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":640,"wires":[["a705072f.441f4"]]},{"id":"c774589e.f54218","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"chosensnap","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":640,"wires":[["1b4ed6bf.66d9c9"]]},{"id":"1b4ed6bf.66d9c9","type":"link out","z":"4ae55c7a.10e9bc","name":"","links":["d319f6c7.e8a1e"],"x":1875,"y":640,"wires":[]},{"id":"d319f6c7.e8a1e","type":"link in","z":"4ae55c7a.10e9bc","name":"","links":["1b4ed6bf.66d9c9"],"x":1935,"y":640,"wires":[["add18e03.d42088"]]},{"id":"16014336.d60b7d","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"chosensnap","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":640,"wires":[["ad0e23c4.6f88d"]]},{"id":"add18e03.d42088","type":"ui_button","z":"4ae55c7a.10e9bc","name":"","group":"94e1c34e.3cb778","order":4,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":2030,"y":640,"wires":[["16014336.d60b7d"]]},{"id":"ad0e23c4.6f88d","type":"function","z":"4ae55c7a.10e9bc","name":"set msg.payload time","func":"msg.payload =\n{ \n    \"timestamp\":msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":640,"wires":[["d48899d1.0fa04"]]},{"id":"88376ce5.1eb7c","type":"base64","z":"4ae55c7a.10e9bc","name":"","action":"","property":"payload","x":3800,"y":680,"wires":[["9621deaf.cd9cf"]]},{"id":"d947903c.61c338","type":"change","z":"4ae55c7a.10e9bc","name":"set src url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3040,"y":640,"wires":[["600fa402.ebd714"]]},{"id":"bfa6b070.209168","type":"delay","z":"4ae55c7a.10e9bc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3360,"y":580,"wires":[["c9b56172.cf837"]]},{"id":"c9b56172.cf837","type":"http request","z":"4ae55c7a.10e9bc","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":3510,"y":640,"wires":[["146d17d6.f412a8"]]},{"id":"d48899d1.0fa04","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"serial","pt":"msg","to":"selectedMV","tot":"flow"},{"t":"set","p":"networkId","pt":"msg","to":"networkId","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2580,"y":640,"wires":[["438d29a7.e7d1a8"]]},{"id":"438d29a7.e7d1a8","type":"meraki-dashboard-api","z":"4ae55c7a.10e9bc","service":"1a05818d.d80626","name":"generateNetworkCameraSnapshot","selectedGroup":"Cameras","selectedMethod":"generateNetworkCameraSnapshot","filteredMethods":[{"methodGroup":"Cameras","methodName":"generateNetworkCameraSnapshot","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"generateNetworkCameraSnapshot"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_networkId\"><label for=\"node-input-generateNetworkCameraSnapshot_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_serial\"><label for=\"node-input-generateNetworkCameraSnapshot_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\"><label for=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>generateNetworkCameraSnapshot</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" placeholder=\"msg.generateNetworkCameraSnapshot\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshotType\" value=\"\" ></div>","example":"[\n  {\n    \"url\": \"https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2\",\n    \"expiry\": \"Access to the image will expire at 2018-12-11T03:12:39Z.\"\n  }\n]","summary":"Generate a snapshot of what the camera sees at the specified time and return a link to that image."},{"methodGroup":"Cameras","methodName":"getNetworkCameraVideoLink","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"timestamp"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkCameraVideoLink_networkId\"><label for=\"node-input-getNetworkCameraVideoLink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_serial\"><label for=\"node-input-getNetworkCameraVideoLink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_timestamp\"><label for=\"node-input-getNetworkCameraVideoLink_timestamp\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timestamp</b> <i>&nbspstring</i></span></label><p>[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time.</p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_timestamp\" placeholder=\"msg.timestamp\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_timestampType\" value=\"string\" ></div>","example":"[\n  {\n    \"url\": \"https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077\"\n  }\n]","summary":"Returns video link to the specified camera. If a timestamp is supplied it links to that timestamp."}],"storedParams":[],"formHtml":"","method":"generateNetworkCameraSnapshot","x":2820,"y":640,"wires":[["d947903c.61c338"]]},{"id":"146d17d6.f412a8","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":3650,"y":640,"wires":[["dfa610cb.30038"],["88376ce5.1eb7c"]]},{"id":"dfa610cb.30038","type":"function","z":"4ae55c7a.10e9bc","name":"Message count","func":"msg.counter[\"count\"] = msg.counter.count + 1;\nreturn msg;","outputs":1,"noerr":0,"x":3800,"y":600,"wires":[["de0344f3.bcb3a"]]},{"id":"de0344f3.bcb3a","type":"switch","z":"4ae55c7a.10e9bc","name":"","property":"counter.count","propertyType":"msg","rules":[{"t":"gt","v":"7","vt":"num"},{"t":"lte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":3970,"y":560,"wires":[["cc0e4502.f393e8"],["bfa6b070.209168"]]},{"id":"600fa402.ebd714","type":"function","z":"4ae55c7a.10e9bc","name":"Message count","func":"msg.counter = {};\nmsg.counter[\"count\"] = 0;\nreturn msg;","outputs":1,"noerr":0,"x":3200,"y":640,"wires":[["bfa6b070.209168"]]},{"id":"cc0e4502.f393e8","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Could not retrive snapshot.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4120,"y":520,"wires":[["6e4533f3.a4b47c"]]},{"id":"6e4533f3.a4b47c","type":"ui_toast","z":"4ae55c7a.10e9bc","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":4300,"y":520,"wires":[]},{"id":"83f81119.289f78","type":"comment","z":"4ae55c7a.10e9bc","name":"Chosen time snapshot generator","info":"Creates and displays a snapshot based off chosen time.","x":3870,"y":740,"wires":[]},{"id":"f35da5a0.1a7568","type":"comment","z":"4ae55c7a.10e9bc","name":"Motion detection","info":"Webhook relay, currently free account so suspended.","x":700,"y":1520,"wires":[]},{"id":"4c112d83.56691c","type":"inject","z":"4ae55c7a.10e9bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"0","x":170,"y":840,"wires":[["f16140e4.b1ea48","6fb30c71.270fbc","f479ee34.9575a"]]},{"id":"f16140e4.b1ea48","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"options","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":920,"wires":[["307da97.cc611d6"]]},{"id":"307da97.cc611d6","type":"split","z":"4ae55c7a.10e9bc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":920,"wires":[["d1c325fd.f48cf8"]]},{"id":"c24d9fbf.aac2a8","type":"filter","z":"4ae55c7a.10e9bc","name":"Month","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"Jan","vt":"str","output":1},{"t":"eq","v":"Feb","vt":"str","output":1},{"t":"eq","v":"Mar","vt":"str","output":1},{"t":"eq","v":"Apr","vt":"str","output":1},{"t":"eq","v":"May","vt":"str","output":1},{"t":"eq","v":"Jun","vt":"str","output":1},{"t":"eq","v":"Jul","vt":"str","output":1},{"t":"eq","v":"Aug","vt":"str","output":1},{"t":"eq","v":"Sep","vt":"str","output":1},{"t":"eq","v":"Oct","vt":"str","output":1},{"t":"eq","v":"Nov","vt":"str","output":1},{"t":"eq","v":"Dec","vt":"str","output":1},{"t":"else","output":2}],"checkall":"true","outputs":2,"x":790,"y":960,"wires":[["90aa362.101b448"],["83da26ad.a5d258"]]},{"id":"d1c325fd.f48cf8","type":"split","z":"4ae55c7a.10e9bc","name":"","splt":", ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":920,"wires":[["aa4dd99.67e1428"]]},{"id":"aa4dd99.67e1428","type":"filter","z":"4ae55c7a.10e9bc","name":"","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"Mon","vt":"str","output":1},{"t":"eq","v":"Tue","vt":"str","output":2},{"t":"eq","v":"Wed","vt":"str","output":1},{"t":"eq","v":"Thu","vt":"str","output":1},{"t":"eq","v":"Fri","vt":"str","output":1},{"t":"eq","v":"Sat","vt":"str","output":1},{"t":"eq","v":"Sun","vt":"str","output":1},{"t":"else","output":2}],"checkall":"true","outputs":2,"x":550,"y":920,"wires":[[],["90152b71.38922"]]},{"id":"6fb30c71.270fbc","type":"moment","z":"4ae55c7a.10e9bc","name":"Day","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD","locale":"en_GB","output":"","outputType":"msg","outTz":"Europe/London","x":130,"y":960,"wires":[["6acec68f.6383b8"]]},{"id":"90152b71.38922","type":"split","z":"4ae55c7a.10e9bc","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":960,"wires":[["c24d9fbf.aac2a8"]]},{"id":"90aa362.101b448","type":"function","z":"4ae55c7a.10e9bc","name":"Word to number month","func":"if (msg.payload == \"Jan\")\n{\nmsg.payload = \"01\";\n}\nif (msg.payload == \"Feb\")\n{\nmsg.payload = \"02\";\n}\nif (msg.payload == \"Mar\")\n{\nmsg.payload = \"03\";\n}\nif (msg.payload == \"Apr\")\n{\nmsg.payload = \"04\";\n}\nif (msg.payload == \"May\")\n{\nmsg.payload = \"05\";\n}\nif (msg.payload == \"Jun\")\n{\nmsg.payload = \"06\";\n}\nif (msg.payload == \"Jul\")\n{\nmsg.payload = \"07\";\n}\nif (msg.payload == \"Aug\")\n{\nmsg.payload = \"08\";\n}\nif (msg.payload == \"Sep\")\n{\nmsg.payload = \"09\";\n}\nif (msg.payload == \"Oct\")\n{\nmsg.payload = \"10\";\n}\nif (msg.payload == \"Nov\")\n{\nmsg.payload = \"11\";\n}\nif (msg.payload == \"Dec\")\n{\nmsg.payload = \"12\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":960,"y":920,"wires":[["87b7d13f.fb45e8"]]},{"id":"83da26ad.a5d258","type":"filter","z":"4ae55c7a.10e9bc","name":"Day","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"01","vt":"str","output":1},{"t":"eq","v":"02","vt":"str","output":1},{"t":"eq","v":"03","vt":"str","output":1},{"t":"eq","v":"04","vt":"str","output":1},{"t":"eq","v":"05","vt":"str","output":1},{"t":"eq","v":"06","vt":"str","output":1},{"t":"eq","v":"07","vt":"str","output":1},{"t":"eq","v":"08","vt":"str","output":1},{"t":"eq","v":"09","vt":"str","output":1},{"t":"eq","v":"10","vt":"str","output":1},{"t":"eq","v":"11","vt":"str","output":1},{"t":"eq","v":"12","vt":"str","output":1},{"t":"eq","v":"13","vt":"str","output":1},{"t":"eq","v":"14","vt":"str","output":1},{"t":"eq","v":"15","vt":"str","output":1},{"t":"eq","v":"16","vt":"str","output":1},{"t":"eq","v":"17","vt":"str","output":1},{"t":"eq","v":"18","vt":"str","output":1},{"t":"eq","v":"19","vt":"str","output":1},{"t":"eq","v":"20","vt":"str","output":1},{"t":"eq","v":"21","vt":"str","output":1},{"t":"eq","v":"22","vt":"str","output":1},{"t":"eq","v":"23","vt":"str","output":1},{"t":"eq","v":"24","vt":"str","output":1},{"t":"eq","v":"25","vt":"str","output":1},{"t":"eq","v":"26","vt":"str","output":1},{"t":"eq","v":"27","vt":"str","output":1},{"t":"eq","v":"28","vt":"str","output":1},{"t":"eq","v":"29","vt":"str","output":1},{"t":"eq","v":"30","vt":"str","output":1},{"t":"eq","v":"31","vt":"str","output":1}],"checkall":"true","outputs":1,"x":910,"y":1000,"wires":[["a5839e84.79754"]]},{"id":"f479ee34.9575a","type":"moment","z":"4ae55c7a.10e9bc","name":"Month","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM","locale":"en_GB","output":"","outputType":"msg","outTz":"Europe/London","x":130,"y":1000,"wires":[["89cba818.6f5b5"]]},{"id":"87b7d13f.fb45e8","type":"function","z":"4ae55c7a.10e9bc","name":"String to num","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":920,"wires":[["a13103b2.36203"]]},{"id":"a5839e84.79754","type":"function","z":"4ae55c7a.10e9bc","name":"String to num","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1000,"wires":[["813bf635.636db8"]]},{"id":"6acec68f.6383b8","type":"function","z":"4ae55c7a.10e9bc","name":"String to num","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":960,"wires":[["11dc3e08.f14bca"]]},{"id":"89cba818.6f5b5","type":"function","z":"4ae55c7a.10e9bc","name":"String to num","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1000,"wires":[["6130a223.777974"]]},{"id":"11dc3e08.f14bca","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"daynow","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":960,"wires":[[]]},{"id":"6130a223.777974","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"monthnow","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1000,"wires":[[]]},{"id":"a13103b2.36203","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"monthnow","pt":"msg","to":"monthnow","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":920,"wires":[["f98f8b99.c5eb88"]]},{"id":"f98f8b99.c5eb88","type":"function","z":"4ae55c7a.10e9bc","name":"Check Month","func":"if(msg.monthnow == msg.payload) {\n    \n    msg.payload = 1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":920,"wires":[["95e7f2cb.1e34e"]]},{"id":"813bf635.636db8","type":"change","z":"4ae55c7a.10e9bc","name":"","rules":[{"t":"set","p":"daynow","pt":"msg","to":"daynow","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":1000,"wires":[["247e46d5.4fe5fa"]]},{"id":"247e46d5.4fe5fa","type":"function","z":"4ae55c7a.10e9bc","name":"Check Day","func":"if(msg.daynow == msg.payload) {\n    \n    msg.payload = 1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1000,"wires":[["16811bdf.d33dfc"]]},{"id":"5fbd37bf.e2ad88","type":"ui_gauge","z":"4ae55c7a.10e9bc","name":"","group":"3c9dec07.3aacf4","order":0,"width":0,"height":0,"gtype":"gage","title":"Badgers spotted this month","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2040,"y":880,"wires":[]},{"id":"95e7f2cb.1e34e","type":"filter","z":"4ae55c7a.10e9bc","name":"","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"1","vt":"num","output":1}],"checkall":"true","outputs":1,"x":1650,"y":920,"wires":[["c084dbe3.7b082"]]},{"id":"16811bdf.d33dfc","type":"filter","z":"4ae55c7a.10e9bc","name":"","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"1","vt":"num","output":1}],"checkall":"true","outputs":1,"x":1530,"y":1000,"wires":[["13289220.676ae6"]]},{"id":"13289220.676ae6","type":"Message Counter","z":"4ae55c7a.10e9bc","name":"","units":"seconds","interval":"10","alignToClock":true,"generator":"internal","x":1690,"y":1000,"wires":[["ed55f537.6b41a8"],[]]},{"id":"ed55f537.6b41a8","type":"ui_gauge","z":"4ae55c7a.10e9bc","name":"","group":"3c9dec07.3aacf4","order":0,"width":0,"height":0,"gtype":"gage","title":"Badgers spotted today","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1900,"y":960,"wires":[]},{"id":"c084dbe3.7b082","type":"Message Counter","z":"4ae55c7a.10e9bc","name":"","units":"seconds","interval":"10","alignToClock":true,"generator":"internal","x":1810,"y":920,"wires":[["5fbd37bf.e2ad88"],[]]},{"id":"fe0500c3.4360e8","type":"debug","z":"4ae55c7a.10e9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1690,"y":560,"wires":[]},{"id":"c2cc61e.40fd12","type":"debug","z":"4ae55c7a.10e9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3180,"y":320,"wires":[]},{"id":"1b9b8ee5.9ecd39","type":"debug","z":"4ae55c7a.10e9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2620,"y":580,"wires":[]},{"id":"56c9be86.910ad","type":"debug","z":"4ae55c7a.10e9bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1060,"y":580,"wires":[]},{"id":"1a05818d.d80626","type":"meraki-dashboard-api-service","z":"","host":"https://api-mp.meraki.com/api/v0","secureApiKeyHeaderOrQueryName":"X-Cisco-Meraki-API-Key","name":"Brians Camera"},{"id":"9da289d4.20cbc","type":"ui_group","z":"","name":"Snapshot","tab":"3af527de.cb0eb","disp":true,"width":"6","collapse":false},{"id":"41182ecd.ee792","type":"ui_group","z":"","name":"Scope","tab":"3af527de.cb0eb","order":1,"disp":true,"width":"8","collapse":false},{"id":"62cd0fd4.192d98","type":"ui_group","z":"","name":"Notifications","tab":"3af527de.cb0eb","disp":true,"width":"6","collapse":false},{"id":"94e1c34e.3cb778","type":"ui_group","z":"","name":"Date and time","tab":"3af527de.cb0eb","disp":true,"width":"6","collapse":false},{"id":"3c9dec07.3aacf4","type":"ui_group","z":"","name":"Amount spotted","tab":"3af527de.cb0eb","disp":true,"width":"6","collapse":false},{"id":"3af527de.cb0eb","type":"ui_tab","z":"","name":"Badger","icon":"dashboard","order":1,"disabled":false,"hidden":false}]