Brian's People & Vehicle Detection(1).json
[{"id":"3dc2f87a.db625","type":"tab","label":"Vehicle & People","disabled":false,"info":""},{"id":"e5b06e4.d928b9","type":"inject","z":"3dc2f87a.db625","name":"Organizations","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":180,"y":300,"wires":[["ab7d693c.2028b"]]},{"id":"ab7d693c.2028b","type":"meraki-dashboard-api","z":"3dc2f87a.db625","service":"dfeaae44.1b7a6","name":"getOrganizations","selectedGroup":"Organizations","selectedMethod":"getOrganizations","filteredMethods":[{"methodGroup":"Organizations","methodName":"getOrganizations","parameters":[],"formHtml":"<h4>Parameters</h4>","example":"[\n  [\n    {\n      \"id\": \"2930418\",\n      \"name\": \"My organization\"\n    }\n  ]\n]","summary":"List the organizations that the user has privileges on"},{"methodGroup":"Organizations","methodName":"createOrganization","parameters":[{"camelCaseName":"createOrganization"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"createOrganization_createOrganization\"><label for=\"node-input-createOrganization_createOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>createOrganization<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganization_createOrganization\" placeholder=\"msg.createOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganization_createOrganizationType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]","summary":"Create a new organization"},{"methodGroup":"Organizations","methodName":"getOrganization","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganization_organizationId\"><label for=\"node-input-getOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganization_organizationIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]","summary":"Return an organization"},{"methodGroup":"Organizations","methodName":"updateOrganization","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"updateOrganization"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganization_organizationId\"><label for=\"node-input-updateOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganization_updateOrganization\"><label for=\"node-input-updateOrganization_updateOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganization</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganization_updateOrganization\" placeholder=\"msg.updateOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganization_updateOrganizationType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]","summary":"Update an organization"},{"methodGroup":"Organizations","methodName":"deleteOrganization","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"deleteOrganization_organizationId\"><label for=\"node-input-deleteOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteOrganization_organizationIdType\" value=\"string\" ></div>","example":"[]","summary":"Delete an organization"},{"methodGroup":"Organizations","methodName":"claimOrganization","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"claimOrganization"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"claimOrganization_organizationId\"><label for=\"node-input-claimOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-claimOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"claimOrganization_claimOrganization\"><label for=\"node-input-claimOrganization_claimOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>claimOrganization</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-claimOrganization_claimOrganization\" placeholder=\"msg.claimOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimOrganization_claimOrganizationType\" value=\"\" ></div>","example":"[\n  {\n    \"orders\": [\n      \"4CXXXXXXX\"\n    ],\n    \"serials\": [\n      \"Q234-ABCD-5678\"\n    ],\n    \"licenses\": [\n      {\n        \"key\": \"Z2XXXXXXXXXX\",\n        \"mode\": \"addDevices\"\n      }\n    ]\n  }\n]","summary":"Claim a list of devices licenses and/or orders into an organization. When claiming by order all devices and licenses in the order will be claimed; licenses will be added to the organization and devices will be placed in the organizations inventory."},{"methodGroup":"Organizations","methodName":"cloneOrganization","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"cloneOrganization"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"cloneOrganization_organizationId\"><label for=\"node-input-cloneOrganization_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-cloneOrganization_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-cloneOrganization_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"cloneOrganization_cloneOrganization\"><label for=\"node-input-cloneOrganization_cloneOrganization\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>cloneOrganization<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-cloneOrganization_cloneOrganization\" placeholder=\"msg.cloneOrganization\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-cloneOrganization_cloneOrganizationType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"2930418\",\n    \"name\": \"My organization\"\n  }\n]","summary":"Create a new organization by cloning the addressed organization"},{"methodGroup":"Organizations","methodName":"getOrganizationDeviceStatuses","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationDeviceStatuses_organizationId\"><label for=\"node-input-getOrganizationDeviceStatuses_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationDeviceStatuses_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDeviceStatuses_organizationIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"name\": \"My AP\",\n      \"serial\": \"Q234-ABCD-5678\",\n      \"mac\": \"00:11:22:33:44:55\",\n      \"status\": \"online\",\n      \"lanIp\": \"1.2.3.4\",\n      \"publicIp\": \"123.123.123.1\",\n      \"networkId\": \"N_24329156\"\n    }\n  ]\n]","summary":"List the status of every Meraki device in the organization"},{"methodGroup":"Organizations","methodName":"getOrganizationInventory","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationInventory_organizationId\"><label for=\"node-input-getOrganizationInventory_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationInventory_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationInventory_organizationIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"mac\": \"00:11:22:33:44:55\",\n      \"serial\": \"Q234-ABCD-5678\",\n      \"networkId\": \"N_24329156\",\n      \"model\": \"MR34\",\n      \"claimedAt\": 1518365681,\n      \"publicIp\": \"123.123.123.1\",\n      \"name\": \"My AP\"\n    }\n  ]\n]","summary":"Return the inventory for an organization"},{"methodGroup":"Organizations","methodName":"getOrganizationLicenseState","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationLicenseState_organizationId\"><label for=\"node-input-getOrganizationLicenseState_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationLicenseState_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationLicenseState_organizationIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"status\": \"OK\",\n    \"expirationDate\": \"Feb 8, 2020 UTC\",\n    \"licensedDeviceCounts\": {\n      \"MS\": 100\n    }\n  }\n]","summary":"Return the license state for an organization"},{"methodGroup":"Organizations","methodName":"getOrganizationThirdPartyVPNPeers","parameters":[{"camelCaseName":"organizationId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationThirdPartyVPNPeers_organizationId\"><label for=\"node-input-getOrganizationThirdPartyVPNPeers_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationThirdPartyVPNPeers_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationThirdPartyVPNPeers_organizationIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"name\": \"My peer 1\",\n      \"publicIp\": \"123.123.123.1\",\n      \"privateSubnets\": [\n        \"192.168.1.0/24\",\n        \"192.168.128.0/24\"\n      ],\n      \"secret\": \"asdf1234\",\n      \"ipsecPolicies\": {\n        \"ikeCipherAlgo\": [\n          \"tripledes\"\n        ],\n        \"ikeAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"ikeDiffieHellmanGroup\": [\n          \"group2\"\n        ],\n        \"ikeLifetime\": 28800,\n        \"childCipherAlgo\": [\n          \"aes128\"\n        ],\n        \"childAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"childPfsGroup\": [\n          \"disabled\"\n        ],\n        \"childLifetime\": 28800\n      }\n    },\n    {\n      \"name\": \"My peer 2\",\n      \"publicIp\": \"123.123.123.2\",\n      \"privateSubnets\": [\n        \"192.168.2.0/24\",\n        \"192.168.129.0/24\"\n      ],\n      \"secret\": \"asdf56785678567856785678\",\n      \"ipsecPoliciesPreset\": \"default\"\n    }\n  ]\n]","summary":"Return the third party VPN peers for an organization"},{"methodGroup":"Organizations","methodName":"updateOrganizationThirdPartyVPNPeers","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"updateOrganizationThirdPartyVpnPeers"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateOrganizationThirdPartyVPNPeers_organizationId\"><label for=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\"><label for=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateOrganizationThirdPartyVpnPeers<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeers\" placeholder=\"msg.updateOrganizationThirdPartyVpnPeers\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateOrganizationThirdPartyVPNPeers_updateOrganizationThirdPartyVpnPeersType\" value=\"\" ></div>","example":"[\n  [\n    {\n      \"name\": \"My peer 1\",\n      \"publicIp\": \"123.123.123.1\",\n      \"privateSubnets\": [\n        \"192.168.1.0/24\",\n        \"192.168.128.0/24\"\n      ],\n      \"secret\": \"asdf1234\",\n      \"ipsecPolicies\": {\n        \"ikeCipherAlgo\": [\n          \"tripledes\"\n        ],\n        \"ikeAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"ikeDiffieHellmanGroup\": [\n          \"group2\"\n        ],\n        \"ikeLifetime\": 28800,\n        \"childCipherAlgo\": [\n          \"aes128\"\n        ],\n        \"childAuthAlgo\": [\n          \"sha1\"\n        ],\n        \"childPfsGroup\": [\n          \"disabled\"\n        ],\n        \"childLifetime\": 28800\n      }\n    },\n    {\n      \"name\": \"My peer 2\",\n      \"publicIp\": \"123.123.123.2\",\n      \"privateSubnets\": [\n        \"192.168.2.0/24\",\n        \"192.168.129.0/24\"\n      ],\n      \"secret\": \"asdf56785678567856785678\",\n      \"ipsecPoliciesPreset\": \"default\"\n    }\n  ]\n]","summary":"Update the third party VPN peers for an organization"},{"methodGroup":"Organizations","methodName":"getOrganizationUplinksLossAndLatency","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"uplink"},{"camelCaseName":"ip"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_organizationId\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_t0\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_t1\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 5 minutes after t0. The latest possible time that t1 can be is 2 minutes into the past.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_timespan\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 5 minutes. The default is 5 minutes.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_uplink\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_uplink\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>uplink</b> <i>&nbspstring</i></span></label><p>Optional filter for a specific WAN uplink. Valid uplinks are wan1, wan2, cellular. Default will return all uplinks.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_uplink\" placeholder=\"msg.uplink\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_uplinkType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationUplinksLossAndLatency_ip\"><label for=\"node-input-getOrganizationUplinksLossAndLatency_ip\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>ip</b> <i>&nbspstring</i></span></label><p>Optional filter for a specific destination IP. Default will return all destination IPs.</p><input type=\"text\" id=\"node-input-getOrganizationUplinksLossAndLatency_ip\" placeholder=\"msg.ip\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationUplinksLossAndLatency_ipType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"networkId\": \"N_12345\",\n      \"serial\": \"Q2AB-CDEF-GHIJ\",\n      \"uplink\": \"wan1\",\n      \"ip\": \"8.8.8.8\",\n      \"timeSeries\": [\n        {\n          \"ts\": \"2019-01-31T18:46:13Z\",\n          \"lossPercent\": 5.3,\n          \"latencyMs\": 194.9\n        }\n      ]\n    }\n  ]\n]","summary":"Return the uplink loss and latency for every MX in the organization from at latest 2 minutes ago"}],"storedParams":[],"formHtml":"","method":"getOrganizations","x":660,"y":300,"wires":[["9ccb1c3f.a3b7f","45e23b0d.15e6d4"]]},{"id":"b6f2543.9cdcea8","type":"function","z":"3dc2f87a.db625","name":"set options","func":"var options = [];\n\nmsg.payload.forEach(n => {\n    var obj = {};\n    obj[n.name] = n.id;\n    options.push(obj)\n})\n\nmsg.payload = msg.payload[0].id;\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["cd915a14.048ea","7938332e.54c28c"]]},{"id":"7938332e.54c28c","type":"debug","z":"3dc2f87a.db625","name":"options","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":480,"wires":[]},{"id":"cd915a14.048ea","type":"ui_dropdown","z":"3dc2f87a.db625","name":"Networks","label":"Network","tooltip":"Networks","place":"Select option","group":"3d7692f1.15867e","order":2,"width":"0","height":"0","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1100,"y":420,"wires":[["197c513a.43c0a7","19eb3204.66ca5e"]]},{"id":"197c513a.43c0a7","type":"debug","z":"3dc2f87a.db625","name":"device selected","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1320,"y":480,"wires":[]},{"id":"46d4bf38.08433","type":"inject","z":"3dc2f87a.db625","name":"Networks","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.5","x":180,"y":420,"wires":[["bee549f7.10f268"]]},{"id":"bee549f7.10f268","type":"change","z":"3dc2f87a.db625","name":"","rules":[{"t":"set","p":"organizationId","pt":"msg","to":"organizationId","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":419.9857940673828,"y":417,"wires":[["5c94ffa9.a462e","d8aefb00.6ce44"]]},{"id":"d98b9e21.5ad7b","type":"link out","z":"3dc2f87a.db625","name":"Select Organization ID","links":["672703d9.ce7b3c","85fb14bd.7af718","4b110b8d.7a5694","399ed065.e59e58","3babe03f.8ce9f","f409204a.0b64d","a7924c44.14f56"],"x":1455,"y":300,"wires":[]},{"id":"672703d9.ce7b3c","type":"link in","z":"3dc2f87a.db625","name":"","links":["d98b9e21.5ad7b"],"x":275,"y":380,"wires":[["bee549f7.10f268"]]},{"id":"9ccb1c3f.a3b7f","type":"function","z":"3dc2f87a.db625","name":"set options","func":"var options = [];\n\nmsg.payload.forEach(d => {\n    var obj = {};\n    obj[d.name] = d.id;\n    options.push(obj)\n})\n\nmsg.payload = msg.payload[1].id;\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["87d92f.b9ba9ed"]]},{"id":"87d92f.b9ba9ed","type":"ui_dropdown","z":"3dc2f87a.db625","name":"Organizations","label":"Organization","tooltip":"Organizations","place":"Select option","group":"3d7692f1.15867e","order":1,"width":"0","height":"0","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1100,"y":300,"wires":[["4255ae42.2a45c8"]]},{"id":"4255ae42.2a45c8","type":"change","z":"3dc2f87a.db625","name":"set flow.organizationId","rules":[{"t":"set","p":"organizationId","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":300,"wires":[["d98b9e21.5ad7b"]]},{"id":"19eb3204.66ca5e","type":"change","z":"3dc2f87a.db625","name":"set flow.networkId","rules":[{"t":"set","p":"networkId","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":420,"wires":[["780993ee.13a67c"]]},{"id":"780993ee.13a67c","type":"link out","z":"3dc2f87a.db625","name":"Select Network ID","links":["87503d6c.607b","b6b53ce0.06379","a8faac56.eba2c","5eccfd1d.fc7b94","5a661fff.ce9958","d7133cde.186","6cdf805c.07942","745f30a9.a459","95fd159a.7bc68","b4226eda.79c578","62423820.3069f","ada25578.5848b","6dcb2603.17e6a8","fb7dadfc.66f26","a7b4c3f1.4619e8","c7db5897.9f9fd8","c997d3.bec4e03"],"x":1475,"y":420,"wires":[]},{"id":"5c94ffa9.a462e","type":"meraki-dashboard-api","z":"3dc2f87a.db625","service":"dfeaae44.1b7a6","name":"getOrganizationNetworks","selectedGroup":"Networks","selectedMethod":"getOrganizationNetworks","filteredMethods":[{"methodGroup":"Networks","methodName":"getNetwork","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetwork_networkId\"><label for=\"node-input-getNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetwork_networkIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"id\": \"L_123456\",\n    \"organizationId\": \"2930418\",\n    \"name\": \"Long Island Office\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"tags\": \" tag1 tag2 \",\n    \"type\": \"combined\",\n    \"disableMyMerakiCom\": false\n  }\n]","summary":"Return a network"},{"methodGroup":"Networks","methodName":"updateNetwork","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"updateNetwork"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetwork_networkId\"><label for=\"node-input-updateNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetwork_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetwork_updateNetwork\"><label for=\"node-input-updateNetwork_updateNetwork\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetwork</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetwork_updateNetwork\" placeholder=\"msg.updateNetwork\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetwork_updateNetworkType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"L_123456\",\n    \"organizationId\": \"2930418\",\n    \"name\": \"Long Island Office\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"tags\": \" tag1 tag2 \",\n    \"type\": \"combined\",\n    \"disableMyMerakiCom\": false\n  }\n]","summary":"Update a network"},{"methodGroup":"Networks","methodName":"deleteNetwork","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"deleteNetwork_networkId\"><label for=\"node-input-deleteNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-deleteNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-deleteNetwork_networkIdType\" value=\"string\" ></div>","example":"[]","summary":"Delete a network"},{"methodGroup":"Networks","methodName":"getNetworkAccessPolicies","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkAccessPolicies_networkId\"><label for=\"node-input-getNetworkAccessPolicies_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkAccessPolicies_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAccessPolicies_networkIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"number\": 1,\n      \"name\": \"My access policy\",\n      \"accessType\": \"8021.x\",\n      \"guestVlan\": 3700,\n      \"radiusServers\": [\n        {\n          \"ip\": \"1.2.3.4\",\n          \"port\": 1337\n        },\n        {\n          \"ip\": \"2.3.4.5\",\n          \"port\": 1337\n        }\n      ]\n    }\n  ]\n]","summary":"List the access policies for this network. Only valid for MS networks."},{"methodGroup":"Networks","methodName":"getNetworkAirMarshal","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"t0"},{"camelCaseName":"timespan"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkAirMarshal_networkId\"><label for=\"node-input-getNetworkAirMarshal_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkAirMarshal_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAirMarshal_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkAirMarshal_t0\"><label for=\"node-input-getNetworkAirMarshal_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 31 days from today.</p><input type=\"text\" id=\"node-input-getNetworkAirMarshal_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAirMarshal_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkAirMarshal_timespan\"><label for=\"node-input-getNetworkAirMarshal_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 7 days.</p><input type=\"text\" id=\"node-input-getNetworkAirMarshal_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkAirMarshal_timespanType\" value=\"integer\" ></div>","example":"[\n  [\n    {\n      \"ssid\": \"linksys\",\n      \"bssids\": [\n        {\n          \"bssid\": \"00:11:22:33:44:55\",\n          \"contained\": false,\n          \"detectedBy\": [\n            {\n              \"device\": \"Q234-ABCD-5678\",\n              \"rssi\": 17\n            }\n          ]\n        }\n      ],\n      \"channels\": [\n        36,\n        40\n      ],\n      \"firstSeen\": 1518365681,\n      \"lastSeen\": 1526087474,\n      \"wiredMacs\": [\n        \"00:11:22:33:44:55\"\n      ],\n      \"wiredVlans\": [\n        0,\n        108\n      ],\n      \"wiredLastSeen\": 1526087474\n    }\n  ]\n]","summary":"List Air Marshal scan results from a network"},{"methodGroup":"Networks","methodName":"bindNetwork","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"bindNetwork"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"bindNetwork_networkId\"><label for=\"node-input-bindNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-bindNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-bindNetwork_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"bindNetwork_bindNetwork\"><label for=\"node-input-bindNetwork_bindNetwork\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>bindNetwork<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-bindNetwork_bindNetwork\" placeholder=\"msg.bindNetwork\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-bindNetwork_bindNetworkType\" value=\"\" ></div>","example":"[]","summary":"Bind a network to a template."},{"methodGroup":"Networks","methodName":"getNetworkBluetoothSettings","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkBluetoothSettings_networkId\"><label for=\"node-input-getNetworkBluetoothSettings_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkBluetoothSettings_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkBluetoothSettings_networkIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"scanningEnabled\": true,\n    \"advertisingEnabled\": true,\n    \"uuid\": \"00000000-0000-0000-000-000000000000\",\n    \"majorMinorAssignmentMode\": \"Non-unique\",\n    \"major\": 1\n  }\n]","summary":"Return the Bluetooth settings for a network. <a href=https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)>Bluetooth settings</a> must be enabled on the network."},{"methodGroup":"Networks","methodName":"updateNetworkBluetoothSettings","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"updateNetworkBluetoothSettings"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkBluetoothSettings_networkId\"><label for=\"node-input-updateNetworkBluetoothSettings_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkBluetoothSettings_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkBluetoothSettings_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkBluetoothSettings_updateNetworkBluetoothSettings\"><label for=\"node-input-updateNetworkBluetoothSettings_updateNetworkBluetoothSettings\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkBluetoothSettings</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkBluetoothSettings_updateNetworkBluetoothSettings\" placeholder=\"msg.updateNetworkBluetoothSettings\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkBluetoothSettings_updateNetworkBluetoothSettingsType\" value=\"\" ></div>","example":"[\n  {\n    \"scanningEnabled\": true,\n    \"advertisingEnabled\": true,\n    \"uuid\": \"00000000-0000-0000-000-000000000000\",\n    \"majorMinorAssignmentMode\": \"Non-unique\",\n    \"major\": 1\n  }\n]","summary":"Update the Bluetooth settings for a network. See the docs page for <a href=https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)>Bluetooth settings</a>."},{"methodGroup":"Networks","methodName":"getNetworkSiteToSiteVpn","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkSiteToSiteVpn_networkId\"><label for=\"node-input-getNetworkSiteToSiteVpn_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkSiteToSiteVpn_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkSiteToSiteVpn_networkIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"mode\": \"spoke\",\n    \"hubs\": [\n      {\n        \"hubId\": \"N_4901849\",\n        \"useDefaultRoute\": true\n      },\n      {\n        \"hubId\": \"N_1892489\",\n        \"useDefaultRoute\": false\n      }\n    ],\n    \"subnets\": [\n      {\n        \"localSubnet\": \"192.168.1.0/24\",\n        \"useVpn\": true\n      },\n      {\n        \"localSubnet\": \"192.168.128.0/24\",\n        \"useVpn\": true\n      }\n    ]\n  }\n]","summary":"Return the site-to-site VPN settings of a network. Only valid for MX networks."},{"methodGroup":"Networks","methodName":"updateNetworkSiteToSiteVpn","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"updateNetworkSiteToSiteVpn"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkSiteToSiteVpn_networkId\"><label for=\"node-input-updateNetworkSiteToSiteVpn_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkSiteToSiteVpn_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkSiteToSiteVpn_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpn\"><label for=\"node-input-updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpn\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkSiteToSiteVpn</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpn\" placeholder=\"msg.updateNetworkSiteToSiteVpn\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkSiteToSiteVpn_updateNetworkSiteToSiteVpnType\" value=\"\" ></div>","example":"[\n  {\n    \"mode\": \"spoke\",\n    \"hubs\": [\n      {\n        \"hubId\": \"N_4901849\",\n        \"useDefaultRoute\": true\n      },\n      {\n        \"hubId\": \"N_1892489\",\n        \"useDefaultRoute\": false\n      }\n    ],\n    \"subnets\": [\n      {\n        \"localSubnet\": \"192.168.1.0/24\",\n        \"useVpn\": true\n      },\n      {\n        \"localSubnet\": \"192.168.128.0/24\",\n        \"useVpn\": true\n      }\n    ]\n  }\n]","summary":"Update the site-to-site VPN settings of a network. Only valid for MX networks in NAT mode."},{"methodGroup":"Networks","methodName":"splitNetwork","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"splitNetwork_networkId\"><label for=\"node-input-splitNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-splitNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-splitNetwork_networkIdType\" value=\"string\" ></div>","example":"[\n  {\n    \"resultingNetworks\": [\n      {\n        \"id\": \"N_1234\",\n        \"organizationId\": \"2930418\",\n        \"name\": \"Long Island Office - switch\",\n        \"timeZone\": \"America/Los_Angeles\",\n        \"tags\": \" tag1 tag2 \",\n        \"type\": \"switch\",\n        \"disableMyMerakiCom\": false\n      },\n      {\n        \"id\": \"N_5678\",\n        \"organizationId\": \"2930418\",\n        \"name\": \"Long Island Office - wireless\",\n        \"timeZone\": \"America/Los_Angeles\",\n        \"tags\": \" tag1 tag2 \",\n        \"type\": \"wireless\",\n        \"disableMyMerakiCom\": false\n      }\n    ]\n  }\n]","summary":"Split a combined network into individual networks for each type of device"},{"methodGroup":"Networks","methodName":"getNetworkTraffic","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"timespan"},{"camelCaseName":"deviceType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkTraffic_networkId\"><label for=\"node-input-getNetworkTraffic_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkTraffic_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkTraffic_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkTraffic_timespan\"><label for=\"node-input-getNetworkTraffic_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p>The timespan for the data. Must be an integer representing a duration in seconds between two hours and one month. (Mandatory.)</p><input type=\"text\" id=\"node-input-getNetworkTraffic_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkTraffic_timespanType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkTraffic_deviceType\"><label for=\"node-input-getNetworkTraffic_deviceType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>deviceType</b> <i>&nbspstring</i></span></label><p>Filter the data by device type: combined (default), wireless, switch, appliance. When using combined, for each rule the data will come from the device type with the most usage.</p><input type=\"text\" id=\"node-input-getNetworkTraffic_deviceType\" placeholder=\"msg.deviceType\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkTraffic_deviceTypeType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"application\": \"Gmail\",\n      \"destination\": null,\n      \"protocol\": \"TCP\",\n      \"port\": 443,\n      \"sent\": 138,\n      \"recv\": 61,\n      \"numClients\": 7,\n      \"activeTime\": 77000,\n      \"flows\": 300\n    }\n  ]\n]","summary":"The traffic analysis data for this network.\n<a href=https://documentation.meraki.com/MR/Monitoring_and_Reporting/Hostname_Visibility>Traffic Analysis with Hostname Visibility</a> must be enabled on the network.\n"},{"methodGroup":"Networks","methodName":"unbindNetwork","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"unbindNetwork_networkId\"><label for=\"node-input-unbindNetwork_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-unbindNetwork_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-unbindNetwork_networkIdType\" value=\"string\" ></div>","example":"[]","summary":"Unbind a network from a template."},{"methodGroup":"Networks","methodName":"getOrganizationNetworks","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"configTemplateId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationNetworks_organizationId\"><label for=\"node-input-getOrganizationNetworks_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationNetworks_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationNetworks_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationNetworks_configTemplateId\"><label for=\"node-input-getOrganizationNetworks_configTemplateId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>configTemplateId</b> <i>&nbspstring</i></span></label><p>An optional parameter that is the ID of a config template. Will return all networks bound to that template.</p><input type=\"text\" id=\"node-input-getOrganizationNetworks_configTemplateId\" placeholder=\"msg.configTemplateId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationNetworks_configTemplateIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"id\": \"L_123456\",\n      \"organizationId\": \"2930418\",\n      \"name\": \"Long Island Office\",\n      \"timeZone\": \"America/Los_Angeles\",\n      \"tags\": \" tag1 tag2 \",\n      \"type\": \"combined\",\n      \"disableMyMerakiCom\": false\n    }\n  ]\n]","summary":"List the networks in an organization"},{"methodGroup":"Networks","methodName":"createOrganizationNetwork","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"createOrganizationNetwork"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"createOrganizationNetwork_organizationId\"><label for=\"node-input-createOrganizationNetwork_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationNetwork_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationNetwork_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"createOrganizationNetwork_createOrganizationNetwork\"><label for=\"node-input-createOrganizationNetwork_createOrganizationNetwork\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>createOrganizationNetwork<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-createOrganizationNetwork_createOrganizationNetwork\" placeholder=\"msg.createOrganizationNetwork\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-createOrganizationNetwork_createOrganizationNetworkType\" value=\"\" ></div>","example":"[\n  {\n    \"id\": \"L_123456\",\n    \"organizationId\": \"2930418\",\n    \"name\": \"Long Island Office\",\n    \"timeZone\": \"America/Los_Angeles\",\n    \"tags\": \" tag1 tag2 \",\n    \"type\": \"combined\",\n    \"disableMyMerakiCom\": false\n  }\n]","summary":"Create a network"},{"methodGroup":"Networks","methodName":"combineOrganizationNetworks","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"combineOrganizationNetworks"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"combineOrganizationNetworks_organizationId\"><label for=\"node-input-combineOrganizationNetworks_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-combineOrganizationNetworks_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-combineOrganizationNetworks_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"combineOrganizationNetworks_combineOrganizationNetworks\"><label for=\"node-input-combineOrganizationNetworks_combineOrganizationNetworks\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>combineOrganizationNetworks<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-combineOrganizationNetworks_combineOrganizationNetworks\" placeholder=\"msg.combineOrganizationNetworks\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-combineOrganizationNetworks_combineOrganizationNetworksType\" value=\"\" ></div>","example":"[\n  {\n    \"resultingNetwork\": {\n      \"id\": \"L_123456\",\n      \"organizationId\": \"2930418\",\n      \"name\": \"Long Island Office\",\n      \"timeZone\": \"America/Los_Angeles\",\n      \"tags\": \" tag1 tag2 \",\n      \"type\": \"combined\",\n      \"disableMyMerakiCom\": false\n    }\n  }\n]","summary":"Combine multiple networks into a single network"}],"storedParams":[],"formHtml":"","method":"getOrganizationNetworks","x":710,"y":420,"wires":[["b6f2543.9cdcea8"]]},{"id":"d8aefb00.6ce44","type":"debug","z":"3dc2f87a.db625","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":480,"wires":[]},{"id":"57732024.5b8c98","type":"comment","z":"3dc2f87a.db625","name":"Organization Selector","info":"","x":129.9857940673828,"y":257,"wires":[]},{"id":"ff97d289.23bb28","type":"comment","z":"3dc2f87a.db625","name":"Network Selector","info":"","x":129.9857940673828,"y":357,"wires":[]},{"id":"695b0337.9ddf5c","type":"comment","z":"3dc2f87a.db625","name":"Sample Webhook Alerts","info":"","x":390,"y":340,"wires":[]},{"id":"daff9edc.b7b4a8","type":"ui_dropdown","z":"3dc2f87a.db625","name":"","label":"MV Devices","tooltip":"","place":"Select option","group":"7d0a2673.81d258","order":1,"width":6,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":650,"y":740,"wires":[["cfcc9327.07866"]]},{"id":"6bcb60c4.8f4fd8","type":"function","z":"3dc2f87a.db625","name":"set options","func":"var options = [];\n\nif(msg.payload.length > 0){\n    msg.payload.forEach(d => {\n        var obj = {};\n        obj[d.name || d.serial] = d.serial;\n        options.push(obj)\n    })\n\n    msg.payload = msg.payload[0].serial;\n}\n\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":740,"wires":[["daff9edc.b7b4a8"]]},{"id":"20441f0c.7eaf08","type":"function","z":"3dc2f87a.db625","name":"filter for MV","func":"msg.payload = msg.payload.filter(d => d.model.includes(\"MV\"))\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":740,"wires":[["6bcb60c4.8f4fd8"]]},{"id":"9124c932.e3d838","type":"link in","z":"3dc2f87a.db625","name":"select MV device","links":["a080af2e.b12438","9e7f2e0e.15bfe8","b1506d42.23db58","6411aab1.6dd514"],"x":115,"y":740,"wires":[["20441f0c.7eaf08"]]},{"id":"fc89d2af.51487","type":"link out","z":"3dc2f87a.db625","name":"selected MV device","links":["25b958ea.a8f118","992ee111.e6bdf","e8ecd659.4d56b","79be8f0d.f445e","4d2fb4c9.f59fe4","9b0f431f.4b98d8","304d633d.3596c4","9b1adccb.cf6ed","bb84aa11.61a14","81a86fc7.51a1a8","f8a8c330.b3404","9f023ab2.f8c4f8","3ec4a4fc.bbadf4","cd0e808.c17cc8","983f3a9c.0f586","6891318c.cc6498","a439fe81.97e28","5bb0cdcc.4809e4","a6c8d939.5c7928","707d9c0a.6e573c","5d600735.70e25"],"x":1455,"y":740,"wires":[]},{"id":"cfcc9327.07866","type":"function","z":"3dc2f87a.db625","name":"find networkId of serial","func":"var devices = flow.get('devicesBySerial');\nvar serial = msg.payload;\nmsg.serial = serial;\nif(serial.length > 0){\n   var device = devices[serial];\n   msg.networkId = device.networkId;\n   msg.device = device;\n   msg.payload = device;\n}else{\n    msg.payload = \"\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":740,"wires":[["42b14315.70bb84","88d2c7ee.c43728"]]},{"id":"5f032c1f.d034e4","type":"comment","z":"3dc2f87a.db625","name":"MV Device Selector","info":"","x":130,"y":700,"wires":[]},{"id":"42b14315.70bb84","type":"change","z":"3dc2f87a.db625","name":"set flow.selectedMv","rules":[{"t":"set","p":"selectedMv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":740,"wires":[["fc89d2af.51487"]]},{"id":"6411aab1.6dd514","type":"link out","z":"3dc2f87a.db625","name":"getNetworkDevices","links":["9124c932.e3d838","920ebb66.7f0e8","bcd78f17.f0edf8","15e7844e.579264","68ed2cf4.eb6394"],"x":955,"y":580,"wires":[]},{"id":"9391475f.e74ea8","type":"inject","z":"3dc2f87a.db625","name":"Devices","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.5","x":270,"y":580,"wires":[["e9437a0d.1a8b3"]]},{"id":"62423820.3069f","type":"link in","z":"3dc2f87a.db625","name":"","links":["780993ee.13a67c"],"x":355,"y":540,"wires":[["e9437a0d.1a8b3"]]},{"id":"5e38f4d8.02d34c","type":"comment","z":"3dc2f87a.db625","name":"Fetch Devices for selected network","info":"","x":180,"y":540,"wires":[]},{"id":"e9437a0d.1a8b3","type":"change","z":"3dc2f87a.db625","name":"","rules":[{"t":"set","p":"networkId","pt":"msg","to":"networkId","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":506.65245056152344,"y":580.3333320617676,"wires":[["35c4c05a.5ae1e"]]},{"id":"35c4c05a.5ae1e","type":"meraki-dashboard-api","z":"3dc2f87a.db625","service":"dfeaae44.1b7a6","name":"getNetworkDevices","selectedGroup":"Devices","selectedMethod":"getNetworkDevices","filteredMethods":[{"methodGroup":"Devices","methodName":"getNetworkDevices","parameters":[{"camelCaseName":"networkId"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevices_networkId\"><label for=\"node-input-getNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevices_networkIdType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"name\": \"My AP\",\n      \"lat\": 37.4180951010362,\n      \"lng\": -122.098531723022,\n      \"serial\": \"Q234-ABCD-5678\",\n      \"mac\": \"00:11:22:33:44:55\",\n      \"model\": \"MR34\",\n      \"address\": \"1600 Pennsylvania Ave\",\n      \"notes\": \"My AP's note\",\n      \"lanIp\": \"1.2.3.4\",\n      \"tags\": \" recently-added \",\n      \"networkId\": \"N_24329156\",\n      \"beaconIdParams\": {\n        \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n        \"major\": 5,\n        \"minor\": 3\n      },\n      \"firmware\": \"wireless-25-14\"\n    }\n  ]\n]","summary":"List the devices in a network"},{"methodGroup":"Devices","methodName":"claimNetworkDevices","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"claimNetworkDevices"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"claimNetworkDevices_networkId\"><label for=\"node-input-claimNetworkDevices_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"claimNetworkDevices_claimNetworkDevices\"><label for=\"node-input-claimNetworkDevices_claimNetworkDevices\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>claimNetworkDevices<span style=\"color:red;\"> *</span></b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-claimNetworkDevices_claimNetworkDevices\" placeholder=\"msg.claimNetworkDevices\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-claimNetworkDevices_claimNetworkDevicesType\" value=\"\" ></div>","example":"[]","summary":"Claim a device into a network"},{"methodGroup":"Devices","methodName":"getNetworkDevice","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevice_networkId\"><label for=\"node-input-getNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevice_serial\"><label for=\"node-input-getNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevice_serialType\" value=\"string\" ></div>","example":"[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]","summary":"Return a single device"},{"methodGroup":"Devices","methodName":"updateNetworkDevice","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"updateNetworkDevice"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"updateNetworkDevice_networkId\"><label for=\"node-input-updateNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_serial\"><label for=\"node-input-updateNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"updateNetworkDevice_updateNetworkDevice\"><label for=\"node-input-updateNetworkDevice_updateNetworkDevice\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>updateNetworkDevice</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-updateNetworkDevice_updateNetworkDevice\" placeholder=\"msg.updateNetworkDevice\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-updateNetworkDevice_updateNetworkDeviceType\" value=\"\" ></div>","example":"[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"serial\": \"Q234-ABCD-5678\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"model\": \"MR34\",\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"lanIp\": \"1.2.3.4\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"beaconIdParams\": {\n      \"uuid\": \"00000000-0000-0000-0000-000000000000\",\n      \"major\": 5,\n      \"minor\": 3\n    },\n    \"firmware\": \"wireless-25-14\"\n  }\n]","summary":"Update the attributes of a device"},{"methodGroup":"Devices","methodName":"blinkNetworkDeviceLeds","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"blinkNetworkDeviceLeds"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_networkId\"><label for=\"node-input-blinkNetworkDeviceLeds_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_serial\"><label for=\"node-input-blinkNetworkDeviceLeds_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\"><label for=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>blinkNetworkDeviceLeds</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLeds\" placeholder=\"msg.blinkNetworkDeviceLeds\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-blinkNetworkDeviceLeds_blinkNetworkDeviceLedsType\" value=\"\" ></div>","example":"[\n  {\n    \"sentToDevice\": true\n  }\n]","summary":"Blink the LEDs on a device"},{"methodGroup":"Devices","methodName":"getNetworkDeviceLldp_cdp","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"timespan"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_networkId\"><label for=\"node-input-getNetworkDeviceLldp_cdp_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_serial\"><label for=\"node-input-getNetworkDeviceLldp_cdp_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLldp_cdp_timespan\"><label for=\"node-input-getNetworkDeviceLldp_cdp_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which LLDP and CDP information will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds). LLDP and CDP information is sent to the Meraki dashboard every 10 minutes. In instances where this LLDP and CDP information matches an existing entry in the Meraki dashboard, the data is updated once every two hours. Meraki recommends querying LLDP and CDP information at an interval slightly greater than two hours, to ensure that unchanged CDP / LLDP information can be queried consistently.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLldp_cdp_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLldp_cdp_timespanType\" value=\"integer\" ></div>","example":"[\n  {\n    \"sourceMac\": \"00:11:22:33:44:55\",\n    \"ports\": {\n      \"8\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 10\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"8\"\n        }\n      },\n      \"12\": {\n        \"cdp\": {\n          \"deviceId\": \"e0553d8cdf53\",\n          \"portId\": \"Port 11\",\n          \"address\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        },\n        \"lldp\": {\n          \"systemName\": \"Meraki MS350-24X - Phineas\",\n          \"portId\": \"11\",\n          \"managementAddress\": \"00:11:22:33:44:55\",\n          \"sourcePort\": \"12\"\n        }\n      }\n    }\n  }\n]","summary":"List LLDP and CDP information for a device"},{"methodGroup":"Devices","methodName":"getNetworkDeviceLossAndLatencyHistory","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"resolution"},{"camelCaseName":"uplink"},{"camelCaseName":"ip"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_networkId\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_serial\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t0\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_t1\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 31 days after t0.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_timespan\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_resolution\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 60, 600, 3600, 86400. The default is 60.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_resolutionType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_uplink\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>uplink</b> <i>&nbspstring</i></span></label><p>The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2, cellular. The default is wan1.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplink\" placeholder=\"msg.uplink\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_uplinkType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceLossAndLatencyHistory_ip\"><label for=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>ip<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p>The destination IP used to obtain the requested stats. This is required.</p><input type=\"text\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ip\" placeholder=\"msg.ip\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceLossAndLatencyHistory_ipType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"startTime\": \"2018-10-09T22:18:27Z\",\n      \"endTime\": \"2018-10-09T22:19:27Z\",\n      \"lossPercent\": 5,\n      \"latencyMs\": 324\n    },\n    {\n      \"startTime\": \"2018-10-09T22:19:27Z\",\n      \"endTime\": \"2018-10-09T22:20:27Z\",\n      \"lossPercent\": 1,\n      \"latencyMs\": 43\n    },\n    {\n      \"startTime\": \"2018-10-09T22:20:27Z\",\n      \"endTime\": \"2018-10-09T22:21:27Z\",\n      \"lossPercent\": 0,\n      \"latencyMs\": 44\n    }\n  ]\n]","summary":"Get the uplink loss percentage and latency in milliseconds for a wired network device."},{"methodGroup":"Devices","methodName":"getNetworkDevicePerformance","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDevicePerformance_networkId\"><label for=\"node-input-getNetworkDevicePerformance_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDevicePerformance_serial\"><label for=\"node-input-getNetworkDevicePerformance_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDevicePerformance_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDevicePerformance_serialType\" value=\"string\" ></div>","example":"[\n  {\n    \"perfScore\": 10\n  }\n]","summary":"Return the performance score for a single device. Only primary MX devices supported. If no data is available a 204 error code is returned."},{"methodGroup":"Devices","methodName":"rebootNetworkDevice","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"rebootNetworkDevice_networkId\"><label for=\"node-input-rebootNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"rebootNetworkDevice_serial\"><label for=\"node-input-rebootNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-rebootNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-rebootNetworkDevice_serialType\" value=\"string\" ></div>","example":"[\n  {\n    \"success\": true\n  }\n]","summary":"Reboot a device"},{"methodGroup":"Devices","methodName":"removeNetworkDevice","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"removeNetworkDevice_networkId\"><label for=\"node-input-removeNetworkDevice_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"removeNetworkDevice_serial\"><label for=\"node-input-removeNetworkDevice_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-removeNetworkDevice_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-removeNetworkDevice_serialType\" value=\"string\" ></div>","example":"[]","summary":"Remove a single device"},{"methodGroup":"Devices","methodName":"getNetworkDeviceUplink","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkDeviceUplink_networkId\"><label for=\"node-input-getNetworkDeviceUplink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkDeviceUplink_serial\"><label for=\"node-input-getNetworkDeviceUplink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkDeviceUplink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkDeviceUplink_serialType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"interface\": \"WAN 1\",\n      \"status\": \"Active\",\n      \"ip\": \"1.2.3.4\",\n      \"gateway\": \"1.2.3.5\",\n      \"publicIp\": \"123.123.123.1\",\n      \"dns\": \"8.8.8.8, 8.8.4.4\",\n      \"usingStaticIp\": false\n    }\n  ]\n]","summary":"Return the uplink information for a device."},{"methodGroup":"Devices","methodName":"getOrganizationDevices","parameters":[{"camelCaseName":"organizationId"},{"camelCaseName":"perPage"},{"camelCaseName":"startingAfter"},{"camelCaseName":"endingBefore"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getOrganizationDevices_organizationId\"><label for=\"node-input-getOrganizationDevices_organizationId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>organizationId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getOrganizationDevices_organizationId\" placeholder=\"msg.organizationId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_organizationIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_perPage\"><label for=\"node-input-getOrganizationDevices_perPage\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>perPage</b> <i>&nbspinteger</i></span></label><p>The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_perPage\" placeholder=\"msg.perPage\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_perPageType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_startingAfter\"><label for=\"node-input-getOrganizationDevices_startingAfter\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>startingAfter</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_startingAfter\" placeholder=\"msg.startingAfter\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_startingAfterType\" value=\"string\" ></div><div class=\"form-row\" id=\"getOrganizationDevices_endingBefore\"><label for=\"node-input-getOrganizationDevices_endingBefore\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>endingBefore</b> <i>&nbspstring</i></span></label><p>A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.</p><input type=\"text\" id=\"node-input-getOrganizationDevices_endingBefore\" placeholder=\"msg.endingBefore\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getOrganizationDevices_endingBeforeType\" value=\"string\" ></div>","example":"[\n  {\n    \"name\": \"My AP\",\n    \"lat\": 37.4180951010362,\n    \"lng\": -122.098531723022,\n    \"address\": \"1600 Pennsylvania Ave\",\n    \"notes\": \"My AP's note\",\n    \"tags\": \" recently-added \",\n    \"networkId\": \"N_24329156\",\n    \"serial\": \"Q234-ABCD-5678\",\n    \"model\": \"MR34\",\n    \"mac\": \"00:11:22:33:44:55\",\n    \"lanIp\": \"1.2.3.4\"\n  }\n]","summary":"List the devices in an organization"}],"currentParams":[{"methodName":"getNetworkDevices","camelCaseName":"networkId","type":"str","value":""}],"storedParams":[{"methodName":"getNetworkDevices","camelCaseName":"networkId","type":"str","value":""}],"formHtml":"","method":"getNetworkDevices","x":790,"y":580,"wires":[["c7302192.8e13c","6411aab1.6dd514"]]},{"id":"c7302192.8e13c","type":"debug","z":"3dc2f87a.db625","name":"Devices","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":640,"wires":[]},{"id":"a47082da.6213c","type":"comment","z":"3dc2f87a.db625","name":"MV Sense with MQTT","info":"","x":1290,"y":1660,"wires":[]},{"id":"3ec4a4fc.bbadf4","type":"link in","z":"3dc2f87a.db625","name":"","links":["ea9524d8.e817e","9a7144a9.c2b6a","1cf8fedc.84d419","fc89d2af.51487","7571fa95.a9b744","ec129cd.680546"],"x":135,"y":900,"wires":[["18a1b822.9a4b9"]]},{"id":"45f2b80a.d36548","type":"meraki-dashboard-api","z":"3dc2f87a.db625","service":"dfeaae44.1b7a6","name":"getDeviceCameraAnalyticsRecent","selectedGroup":"MV Sense","selectedMethod":"getDeviceCameraAnalyticsRecent","filteredMethods":[{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsLive","parameters":[{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsLive_serial\"><label for=\"node-input-getDeviceCameraAnalyticsLive_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsLive_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsLive_serialType\" value=\"string\" ></div>","example":"[\n  {\n    \"ts\": \"2018-08-15T18:32:38.123Z\",\n    \"zones\": {\n      \"0\": {\n        \"person\": 0\n      }\n    }\n  }\n]","summary":"Returns live state from camera of analytics zones"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsOverview","parameters":[{"camelCaseName":"serial"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"objectType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_serial\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_t0\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_t1\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 7 days after t0.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_timespan\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_objectType\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_objectType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>objectType</b> <i>&nbspstring</i></span></label><select id=\"node-input-getDeviceCameraAnalyticsOverview_objectType\"><option value=\"person\">person</option><option value=\"vehicle\">vehicle</option></select></div>","example":"[\n  [\n    {\n      \"startTs\": \"2018-08-15T18:32:38.123Z\",\n      \"endTs\": \"2018-08-15T18:33:38.123Z\",\n      \"zoneId\": 0,\n      \"entrances\": 254,\n      \"averageCount\": 5\n    }\n  ]\n]","summary":"Returns an overview of aggregate analytics data for a timespan"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsRecent","parameters":[{"camelCaseName":"serial"},{"camelCaseName":"objectType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsRecent_serial\"><label for=\"node-input-getDeviceCameraAnalyticsRecent_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsRecent_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsRecent_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsRecent_objectType\"><label for=\"node-input-getDeviceCameraAnalyticsRecent_objectType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>objectType</b> <i>&nbspstring</i></span></label><select id=\"node-input-getDeviceCameraAnalyticsRecent_objectType\"><option value=\"person\">person</option><option value=\"vehicle\">vehicle</option></select></div>","example":"[\n  [\n    {\n      \"startTs\": \"2018-08-15T18:32:38.123Z\",\n      \"endTs\": \"2018-08-15T18:33:38.123Z\",\n      \"zoneId\": 0,\n      \"entrances\": 10,\n      \"averageCount\": 2.54\n    }\n  ]\n]","summary":"Returns most recent record for analytics zones"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsZones","parameters":[{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZones_serial\"><label for=\"node-input-getDeviceCameraAnalyticsZones_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZones_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZones_serialType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"id\": \"0\",\n      \"type\": \"occupancy\",\n      \"label\": \"Full Frame\"\n    }\n  ]\n]","summary":"Returns all configured analytic zones for this camera"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsZoneHistory","parameters":[{"camelCaseName":"serial"},{"camelCaseName":"zoneId"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"resolution"},{"camelCaseName":"objectType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_serial\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_zoneId\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_zoneId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>zoneId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_zoneId\" placeholder=\"msg.zoneId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_zoneIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_t0\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_t1\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 14 hours after t0.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_timespan\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_resolution\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_resolutionType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_objectType\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_objectType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>objectType</b> <i>&nbspstring</i></span></label><select id=\"node-input-getDeviceCameraAnalyticsZoneHistory_objectType\"><option value=\"person\">person</option><option value=\"vehicle\">vehicle</option></select></div>","example":"[\n  [\n    {\n      \"startTs\": \"2018-08-15T18:32:38.123Z\",\n      \"endTs\": \"2018-08-15T18:33:38.123Z\",\n      \"entrances\": 5,\n      \"averageCount\": 1.5\n    }\n  ]\n]","summary":"Return historical records for analytic zones"}],"storedParams":[],"formHtml":"","method":"getDeviceCameraAnalyticsRecent","x":610,"y":900,"wires":[["37d4bba4.a4b46c"]]},{"id":"37d4bba4.a4b46c","type":"debug","z":"3dc2f87a.db625","name":"getDeviceCameraAnalyticsRecent","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":960,"wires":[]},{"id":"cc2b67e6.d032e8","type":"comment","z":"3dc2f87a.db625","name":"MV Sense Group","info":"","x":170,"y":800,"wires":[]},{"id":"e19d5407.0807a8","type":"comment","z":"3dc2f87a.db625","name":"Recent People Guage","info":"","x":200,"y":860,"wires":[]},{"id":"18a1b822.9a4b9","type":"change","z":"3dc2f87a.db625","name":"set params","rules":[{"t":"set","p":"serial","pt":"msg","to":"selectedMv.serial","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":900,"wires":[["45f2b80a.d36548"]]},{"id":"1c6933de.f0d45c","type":"inject","z":"3dc2f87a.db625","name":"People/Vehicles","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1960,"wires":[["90ae89c6.75f83","beafb171.557088"]]},{"id":"826b529a.fd49b8","type":"comment","z":"3dc2f87a.db625","name":"Recent & Overview & History Notes!","info":"08/03/2020\nRemember to choose the correct objectType (person or vehicel)","x":590,"y":860,"wires":[]},{"id":"90ae89c6.75f83","type":"change","z":"3dc2f87a.db625","name":"set params from context","rules":[{"t":"set","p":"serial","pt":"msg","to":"selectedMv.serial","tot":"flow"},{"t":"set","p":"networkId","pt":"msg","to":"networkId","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1800,"wires":[["78bd8c08.59060c"]]},{"id":"d4bf7c0a.fe583","type":"change","z":"3dc2f87a.db625","name":"set src url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1800,"wires":[["d57e4550.876ae8"]]},{"id":"2fd18884.73449","type":"comment","z":"3dc2f87a.db625","name":"Dcloud Cafe Camera Snapshot","info":"","x":620,"y":1740,"wires":[]},{"id":"d57e4550.876ae8","type":"delay","z":"3dc2f87a.db625","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":1800,"wires":[["e25a8a78.d608a"]]},{"id":"78bd8c08.59060c","type":"meraki-dashboard-api","z":"3dc2f87a.db625","service":"dfeaae44.1b7a6","name":"PersonCameraSnapshot","selectedGroup":"Cameras","selectedMethod":"generateNetworkCameraSnapshot","filteredMethods":[{"methodGroup":"Cameras","methodName":"generateNetworkCameraSnapshot","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"generateNetworkCameraSnapshot"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_networkId\"><label for=\"node-input-generateNetworkCameraSnapshot_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_serial\"><label for=\"node-input-generateNetworkCameraSnapshot_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\"><label for=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>generateNetworkCameraSnapshot</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" placeholder=\"msg.generateNetworkCameraSnapshot\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshotType\" value=\"\" ></div>","example":"[\n  {\n    \"url\": \"https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2\",\n    \"expiry\": \"Access to the image will expire at 2018-12-11T03:12:39Z.\"\n  }\n]","summary":"Generate a snapshot of what the camera sees at the specified time and return a link to that image."},{"methodGroup":"Cameras","methodName":"getNetworkCameraVideoLink","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"timestamp"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkCameraVideoLink_networkId\"><label for=\"node-input-getNetworkCameraVideoLink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_serial\"><label for=\"node-input-getNetworkCameraVideoLink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_timestamp\"><label for=\"node-input-getNetworkCameraVideoLink_timestamp\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timestamp</b> <i>&nbspstring</i></span></label><p>[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time.</p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_timestamp\" placeholder=\"msg.timestamp\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_timestampType\" value=\"string\" ></div>","example":"[\n  {\n    \"url\": \"https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077\"\n  }\n]","summary":"Returns video link to the specified camera. If a timestamp is supplied it links to that timestamp."}],"storedParams":[],"formHtml":"","method":"generateNetworkCameraSnapshot","x":660,"y":1800,"wires":[["d4bf7c0a.fe583","669f0487.fc0f64"]]},{"id":"59ad2f5b.2559b","type":"ui_button","z":"3dc2f87a.db625","name":"","group":"7d0a2673.81d258","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"camera_alt","payload":"","payloadType":"str","topic":"","x":160,"y":1800,"wires":[["90ae89c6.75f83"]]},{"id":"5edc5932.adb2b","type":"ui_template","z":"3dc2f87a.db625","group":"7d0a2673.81d258","name":"Person Snapshot","order":6,"width":"0","height":"0","format":"Snapshot\n<img src=\"data:image/png;base64,{{msg.payload}}\"\nid='img'\nalt='Getting Image'>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1240,"y":1880,"wires":[[]]},{"id":"9b2b7667.0fb488","type":"base64","z":"3dc2f87a.db625","name":"","action":"","property":"payload","x":990,"y":1880,"wires":[["5edc5932.adb2b"]]},{"id":"e25a8a78.d608a","type":"http request","z":"3dc2f87a.db625","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":1840,"wires":[["9b2b7667.0fb488"]]},{"id":"ea177f56.387b2","type":"meraki-dashboard-api","z":"3dc2f87a.db625","service":"dfeaae44.1b7a6","name":"VehicleCameraSnapshot","selectedGroup":"Cameras","selectedMethod":"generateNetworkCameraSnapshot","filteredMethods":[{"methodGroup":"Cameras","methodName":"generateNetworkCameraSnapshot","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"generateNetworkCameraSnapshot"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_networkId\"><label for=\"node-input-generateNetworkCameraSnapshot_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_serial\"><label for=\"node-input-generateNetworkCameraSnapshot_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\"><label for=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>generateNetworkCameraSnapshot</b> <i>&nbsp</i></span></label><p></p><input type=\"text\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshot\" placeholder=\"msg.generateNetworkCameraSnapshot\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-generateNetworkCameraSnapshot_generateNetworkCameraSnapshotType\" value=\"\" ></div>","example":"[\n  {\n    \"url\": \"https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2\",\n    \"expiry\": \"Access to the image will expire at 2018-12-11T03:12:39Z.\"\n  }\n]","summary":"Generate a snapshot of what the camera sees at the specified time and return a link to that image."},{"methodGroup":"Cameras","methodName":"getNetworkCameraVideoLink","parameters":[{"camelCaseName":"networkId"},{"camelCaseName":"serial"},{"camelCaseName":"timestamp"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getNetworkCameraVideoLink_networkId\"><label for=\"node-input-getNetworkCameraVideoLink_networkId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>networkId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_networkId\" placeholder=\"msg.networkId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_networkIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_serial\"><label for=\"node-input-getNetworkCameraVideoLink_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getNetworkCameraVideoLink_timestamp\"><label for=\"node-input-getNetworkCameraVideoLink_timestamp\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timestamp</b> <i>&nbspstring</i></span></label><p>[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time.</p><input type=\"text\" id=\"node-input-getNetworkCameraVideoLink_timestamp\" placeholder=\"msg.timestamp\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getNetworkCameraVideoLink_timestampType\" value=\"string\" ></div>","example":"[\n  {\n    \"url\": \"https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077\"\n  }\n]","summary":"Returns video link to the specified camera. If a timestamp is supplied it links to that timestamp."}],"currentParams":[{"methodName":"generateNetworkCameraSnapshot","camelCaseName":"serial","type":"str","value":""}],"storedParams":[{"methodName":"generateNetworkCameraSnapshot","camelCaseName":"serial","type":"str","value":""}],"formHtml":"","method":"generateNetworkCameraSnapshot","x":590,"y":2880,"wires":[["55f3f9de.c1d8a8","3c48ece6.77dcfc","ec22a6b4.196b28"]]},{"id":"669f0487.fc0f64","type":"function","z":"3dc2f87a.db625","name":"time of snap","func":"msg.payload = msg.headers.date\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1920,"wires":[["eea40058.de58e"]]},{"id":"eea40058.de58e","type":"ui_text","z":"3dc2f87a.db625","group":"7d0a2673.81d258","order":3,"width":0,"height":0,"name":"","label":"Time of image","format":"{{msg.payload}}","layout":"col-center","x":1200,"y":1920,"wires":[]},{"id":"c0ae449d.c6d55","type":"function","z":"3dc2f87a.db625","name":"number of people","func":"msg.payload = msg.payload.counts.person;\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":1600,"wires":[["7adf3fb2.21e838"]]},{"id":"7adf3fb2.21e838","type":"ui_gauge","z":"3dc2f87a.db625","name":"","group":"f699df2.4f507a","order":2,"width":0,"height":0,"gtype":"compass","title":"Current People","label":"","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1800,"y":1600,"wires":[]},{"id":"783c13e3.0eb644","type":"comment","z":"3dc2f87a.db625","name":"Recent = last minute","info":"","x":830,"y":860,"wires":[]},{"id":"e337366f.bee7e8","type":"mqtt in","z":"3dc2f87a.db625","name":"Dcloud Cafe","topic":"/merakimv/Q2FV-UCSH-L4SE/662029145223463186186","qos":"1","datatype":"auto","broker":"ceab8796.f81c88","x":1300,"y":1720,"wires":[["d950a8e8.432898"]]},{"id":"44889f.ceba5f6","type":"debug","z":"3dc2f87a.db625","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1980,"y":1800,"wires":[]},{"id":"d950a8e8.432898","type":"json","z":"3dc2f87a.db625","name":"","property":"payload","action":"","pretty":false,"x":1380,"y":1800,"wires":[["46e76558.8e3004","c0ae449d.c6d55","16a1b20.16bd3ce"]]},{"id":"93d46fb8.e13f2","type":"moment","z":"3dc2f87a.db625","name":"","topic":"","input":"payload.ts","inputType":"msg","inTz":"Europe/London","adjAmount":"0","adjType":"seconds","adjDir":"subtract","format":"","locale":"en_GB","output":"payload.time","outputType":"msg","outTz":"Europe/London","x":1820,"y":1840,"wires":[["9bcd8697.e848b8"]]},{"id":"9bcd8697.e848b8","type":"function","z":"3dc2f87a.db625","name":"","func":"msg.payload =\n{\n    \"timestamp\":msg.payload.time\n}\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":1880,"wires":[["ac41349a.7d8da8"]]},{"id":"ac41349a.7d8da8","type":"change","z":"3dc2f87a.db625","name":"","rules":[{"t":"set","p":"mqtt.time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1940,"wires":[["b8737ffc.f3e618"]]},{"id":"45e23b0d.15e6d4","type":"debug","z":"3dc2f87a.db625","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"ce155887.ce7a1","type":"link in","z":"3dc2f87a.db625","name":"","links":["b8737ffc.f3e618","58c4d0ee.2e7838"],"x":105,"y":1900,"wires":[["90ae89c6.75f83"]]},{"id":"b8737ffc.f3e618","type":"link out","z":"3dc2f87a.db625","name":"","links":["ce155887.ce7a1","a6c8d939.5c7928","b063e3d4.5654d"],"x":1885,"y":1940,"wires":[]},{"id":"f5b3d7ec.1c2f08","type":"rbe","z":"3dc2f87a.db625","name":"Block 2s","func":"deadband","gap":"2000","start":"","inout":"out","property":"payload.ts","x":1790,"y":1800,"wires":[["44889f.ceba5f6","93d46fb8.e13f2"]]},{"id":"c1ece0e2.726598","type":"comment","z":"3dc2f87a.db625","name":"Block or Filter MQTT messages","info":"Block unless the difference between the last value and the next value is at least greater than a certain value.","x":1440,"y":1920,"wires":[]},{"id":"46e76558.8e3004","type":"filter","z":"3dc2f87a.db625","name":"person>0","property":"payload.counts.person","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"neq","v":"0","vt":"num","output":1}],"checkall":"true","outputs":1,"x":1690,"y":1720,"wires":[["f5b3d7ec.1c2f08"]]},{"id":"b8ad7b19.c0fac","type":"comment","z":"3dc2f87a.db625","name":"Filter by person > 0","info":"","x":1700,"y":1680,"wires":[]},{"id":"637761c5.326938","type":"comment","z":"3dc2f87a.db625","name":"Block by a length of time","info":"","x":1780,"y":1760,"wires":[]},{"id":"16a1b20.16bd3ce","type":"filter","z":"3dc2f87a.db625","d":true,"name":"vehicle>0","property":"payload.counts.vehicle","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"neq","v":"0","vt":"num","output":1}],"checkall":"true","outputs":1,"x":1530,"y":1860,"wires":[[]]},{"id":"c300a8aa.cffcd8","type":"debug","z":"3dc2f87a.db625","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":2640,"wires":[]},{"id":"70671255.aab594","type":"moment","z":"3dc2f87a.db625","name":"","topic":"","input":"payload.ts","inputType":"msg","inTz":"Europe/London","adjAmount":"0","adjType":"seconds","adjDir":"subtract","format":"","locale":"en_GB","output":"payload.time","outputType":"msg","outTz":"Europe/London","x":1060,"y":2700,"wires":[["799cfa43.513834"]]},{"id":"799cfa43.513834","type":"function","z":"3dc2f87a.db625","name":"Timestamp","func":"msg.payload =\n{\n    \"timestamp\":msg.payload.time\n}\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":2700,"wires":[["ebde1ddd.2e4e98"]]},{"id":"ebde1ddd.2e4e98","type":"change","z":"3dc2f87a.db625","name":"","rules":[{"t":"set","p":"mqttt.time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":2700,"wires":[["d89f0699.73bff8"]]},{"id":"5c9eb121.84fd98","type":"rbe","z":"3dc2f87a.db625","name":"Block 20s","func":"deadband","gap":"20000","start":"","inout":"out","property":"payload.ts","x":880,"y":2700,"wires":[["70671255.aab594","c300a8aa.cffcd8"]]},{"id":"27bfe9a7.cf2fd6","type":"mqtt in","z":"3dc2f87a.db625","d":true,"name":"Main Office Entrance 1","topic":"/merakimv/Q2JV-WT78-TN5D/575897802350002316","qos":"1","datatype":"auto","broker":"ceab8796.f81c88","x":160,"y":2700,"wires":[["7de2299b.0dbce8"]]},{"id":"7de2299b.0dbce8","type":"json","z":"3dc2f87a.db625","name":"","property":"payload","action":"","pretty":false,"x":330,"y":2700,"wires":[["7c851a0f.169864","f94984ef.b48fe","4b19c340.348f1c"]]},{"id":"8177a915.e5eb18","type":"filter","z":"3dc2f87a.db625","name":"Vehicle filter","property":"payload.counts.vehicle","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"neq","v":"0","vt":"num","output":1}],"checkall":"true","outputs":1,"x":710,"y":2680,"wires":[["5c9eb121.84fd98"]]},{"id":"270171f0.9f33ce","type":"link in","z":"3dc2f87a.db625","name":"","links":["d89f0699.73bff8","954be762.4e4d1"],"x":95,"y":2840,"wires":[["5bff6a8f.b6d014"]]},{"id":"d89f0699.73bff8","type":"link out","z":"3dc2f87a.db625","name":"","links":["270171f0.9f33ce","227dc455.f3de5c"],"x":1295,"y":2780,"wires":[]},{"id":"5bff6a8f.b6d014","type":"change","z":"3dc2f87a.db625","name":"set params from context","rules":[{"t":"set","p":"serial","pt":"msg","to":"selectedMv.serial","tot":"flow"},{"t":"set","p":"networkId","pt":"msg","to":"networkId","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":2880,"wires":[["ea177f56.387b2"]]},{"id":"55f3f9de.c1d8a8","type":"change","z":"3dc2f87a.db625","name":"set src url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2880,"wires":[["3afcac2.bc06f54","183b7d64.92d813"]]},{"id":"3afcac2.bc06f54","type":"delay","z":"3dc2f87a.db625","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":2880,"wires":[["92d5d388.8d3ab8"]]},{"id":"bcd100e0.f62558","type":"ui_template","z":"3dc2f87a.db625","group":"7e7b4f0d.53c078","name":"Vehicle Snapshot","order":6,"width":"0","height":"0","format":"Snapshot\n<img src=\"data:image/png;base64,{{msg.payload}}\"\nid='img'\nalt='Getting Image'>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1430,"y":2880,"wires":[[]]},{"id":"de01dcf0.3385a","type":"base64","z":"3dc2f87a.db625","name":"","action":"","property":"payload","x":1260,"y":2880,"wires":[["bcd100e0.f62558","1949165d.a211ea"]]},{"id":"92d5d388.8d3ab8","type":"http request","z":"3dc2f87a.db625","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":2880,"wires":[["de01dcf0.3385a"]]},{"id":"3c48ece6.77dcfc","type":"function","z":"3dc2f87a.db625","name":"time of snap","func":"msg.payload = msg.headers.date\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":2940,"wires":[["6e485d6b.bd99bc"]]},{"id":"6e485d6b.bd99bc","type":"ui_text","z":"3dc2f87a.db625","group":"7e7b4f0d.53c078","order":3,"width":0,"height":0,"name":"","label":"Time of image","format":"{{msg.payload}}","layout":"col-center","x":1420,"y":2940,"wires":[]},{"id":"78dd3df4.3089e4","type":"ui_button","z":"3dc2f87a.db625","name":"","group":"7e7b4f0d.53c078","order":5,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"camera_alt","payload":"","payloadType":"str","topic":"","x":70,"y":2880,"wires":[["5bff6a8f.b6d014"]]},{"id":"7c851a0f.169864","type":"filter","z":"3dc2f87a.db625","name":"Filter out all people","property":"payload.counts.person","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"gt","v":"1000","vt":"num","output":1}],"checkall":"true","outputs":1,"x":510,"y":2680,"wires":[["8177a915.e5eb18"]]},{"id":"1949165d.a211ea","type":"image","z":"3dc2f87a.db625","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":1420,"y":3000,"wires":[]},{"id":"616ae524.bcaed4","type":"filter","z":"3dc2f87a.db625","name":"Filter out all people","property":"payload.counts.person","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"gt","v":"10000","vt":"num","output":1}],"checkall":"true","outputs":1,"x":710,"y":2740,"wires":[["5c9eb121.84fd98"]]},{"id":"f94984ef.b48fe","type":"filter","z":"3dc2f87a.db625","name":"Vehicle filter","property":"payload.counts.vehicle","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"neq","v":"0","vt":"num","output":1}],"checkall":"true","outputs":1,"x":510,"y":2740,"wires":[["616ae524.bcaed4"]]},{"id":"183b7d64.92d813","type":"debug","z":"3dc2f87a.db625","name":"URLLLL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.url","targetType":"msg","x":860,"y":2820,"wires":[]},{"id":"c3bf9039.40d678","type":"exec","z":"3dc2f87a.db625","command":"curl -X POST ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":850,"y":3580,"wires":[["fd9503e4.474ca8"],["54d35d9c.53eedc"],[]]},{"id":"fd9503e4.474ca8","type":"json","z":"3dc2f87a.db625","name":"JSON","pretty":false,"x":1030,"y":3580,"wires":[["1cd273c1.335adc","6b58ec79.bb1c84","2b352446.ca5a14","d169cd5d.daef38","afaf6e0a.ee51a","2ed60595.e8a652","c491652d.0d4f5"]]},{"id":"1cd273c1.335adc","type":"debug","z":"3dc2f87a.db625","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.results[0].confidence","targetType":"msg","x":1370,"y":3580,"wires":[]},{"id":"2b352446.ca5a14","type":"debug","z":"3dc2f87a.db625","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.error_code","targetType":"msg","x":1330,"y":3620,"wires":[]},{"id":"6b58ec79.bb1c84","type":"debug","z":"3dc2f87a.db625","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.results[0].plate","targetType":"msg","x":1340,"y":3540,"wires":[]},{"id":"88d2c7ee.c43728","type":"debug","z":"3dc2f87a.db625","name":"Devices","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1160,"y":780,"wires":[]},{"id":"ec22a6b4.196b28","type":"change","z":"3dc2f87a.db625","name":"","rules":[{"t":"set","p":"picurl","pt":"flow","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":3020,"wires":[["dc5e864.f7e11f8"]]},{"id":"7a4c4f84.c09bb","type":"link out","z":"3dc2f87a.db625","name":"","links":["a3b49e8b.1b6d7"],"x":735,"y":3020,"wires":[]},{"id":"a3b49e8b.1b6d7","type":"link in","z":"3dc2f87a.db625","name":"","links":["7a4c4f84.c09bb"],"x":115,"y":3580,"wires":[["c36a4de.64379b"]]},{"id":"54d35d9c.53eedc","type":"debug","z":"3dc2f87a.db625","name":"CURL Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":3660,"wires":[]},{"id":"dc5e864.f7e11f8","type":"delay","z":"3dc2f87a.db625","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":3020,"wires":[["7a4c4f84.c09bb"]]},{"id":"c36a4de.64379b","type":"change","z":"3dc2f87a.db625","name":"set params","rules":[{"t":"set","p":"url","pt":"msg","to":"picurl","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3580,"wires":[["80e33e05.9e007"]]},{"id":"48b52d55.1f285c","type":"debug","z":"3dc2f87a.db625","name":"url","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":3640,"wires":[]},{"id":"3ad6252a.97996a","type":"meraki-dashboard-api","z":"3dc2f87a.db625","service":"dfeaae44.1b7a6","name":"getDeviceCameraAnalyticsOverview","selectedGroup":"MV Sense","selectedMethod":"getDeviceCameraAnalyticsOverview","filteredMethods":[{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsLive","parameters":[{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsLive_serial\"><label for=\"node-input-getDeviceCameraAnalyticsLive_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsLive_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsLive_serialType\" value=\"string\" ></div>","example":"[\n  {\n    \"ts\": \"2018-08-15T18:32:38.123Z\",\n    \"zones\": {\n      \"0\": {\n        \"person\": 0\n      }\n    }\n  }\n]","summary":"Returns live state from camera of analytics zones"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsOverview","parameters":[{"camelCaseName":"serial"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"objectType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_serial\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_t0\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_t1\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 7 days after t0.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_timespan\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_objectType\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_objectType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>objectType</b> <i>&nbspstring</i></span></label><select id=\"node-input-getDeviceCameraAnalyticsOverview_objectType\"><option value=\"person\">person</option><option value=\"vehicle\">vehicle</option></select></div>","example":"[\n  [\n    {\n      \"startTs\": \"2018-08-15T18:32:38.123Z\",\n      \"endTs\": \"2018-08-15T18:33:38.123Z\",\n      \"zoneId\": 0,\n      \"entrances\": 254,\n      \"averageCount\": 5\n    }\n  ]\n]","summary":"Returns an overview of aggregate analytics data for a timespan"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsRecent","parameters":[{"camelCaseName":"serial"},{"camelCaseName":"objectType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsRecent_serial\"><label for=\"node-input-getDeviceCameraAnalyticsRecent_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsRecent_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsRecent_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsRecent_objectType\"><label for=\"node-input-getDeviceCameraAnalyticsRecent_objectType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>objectType</b> <i>&nbspstring</i></span></label><select id=\"node-input-getDeviceCameraAnalyticsRecent_objectType\"><option value=\"person\">person</option><option value=\"vehicle\">vehicle</option></select></div>","example":"[\n  [\n    {\n      \"startTs\": \"2018-08-15T18:32:38.123Z\",\n      \"endTs\": \"2018-08-15T18:33:38.123Z\",\n      \"zoneId\": 0,\n      \"entrances\": 10,\n      \"averageCount\": 2.54\n    }\n  ]\n]","summary":"Returns most recent record for analytics zones"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsZones","parameters":[{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZones_serial\"><label for=\"node-input-getDeviceCameraAnalyticsZones_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZones_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZones_serialType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"id\": \"0\",\n      \"type\": \"occupancy\",\n      \"label\": \"Full Frame\"\n    }\n  ]\n]","summary":"Returns all configured analytic zones for this camera"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsZoneHistory","parameters":[{"camelCaseName":"serial"},{"camelCaseName":"zoneId"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"resolution"},{"camelCaseName":"objectType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_serial\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_zoneId\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_zoneId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>zoneId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_zoneId\" placeholder=\"msg.zoneId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_zoneIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_t0\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_t1\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 14 hours after t0.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_timespan\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_resolution\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_resolutionType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_objectType\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_objectType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>objectType</b> <i>&nbspstring</i></span></label><select id=\"node-input-getDeviceCameraAnalyticsZoneHistory_objectType\"><option value=\"person\">person</option><option value=\"vehicle\">vehicle</option></select></div>","example":"[\n  [\n    {\n      \"startTs\": \"2018-08-15T18:32:38.123Z\",\n      \"endTs\": \"2018-08-15T18:33:38.123Z\",\n      \"entrances\": 5,\n      \"averageCount\": 1.5\n    }\n  ]\n]","summary":"Return historical records for analytic zones"}],"currentParams":[{"methodName":"getDeviceCameraAnalyticsOverview","camelCaseName":"objectType","type":"str","value":"vehicle"}],"storedParams":[{"methodName":"getDeviceCameraAnalyticsOverview","camelCaseName":"objectType","type":"str","value":"vehicle"}],"formHtml":"","method":"getDeviceCameraAnalyticsOverview","x":540,"y":3180,"wires":[["7fc95394.323d34","cf4fde0c.018868","7814e0e.fd29c2"]]},{"id":"cf4fde0c.018868","type":"function","z":"3dc2f87a.db625","name":"zone 0 - entrances","func":"msg.payload = msg.payload[0].entrances\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":3200,"wires":[["a58d0f40.305ea"]]},{"id":"7fc95394.323d34","type":"debug","z":"3dc2f87a.db625","name":"getDeviceCameraAnalyticsOverview","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":3300,"wires":[]},{"id":"a58d0f40.305ea","type":"ui_gauge","z":"3dc2f87a.db625","name":"","group":"2343c8be.5243a8","order":3,"width":0,"height":0,"gtype":"wave","title":"Entrances in last hour","label":"","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":3200,"wires":[]},{"id":"b90b8c3.d7ecd7","type":"change","z":"3dc2f87a.db625","name":"set params","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"networkId","pt":"msg","to":"networkId","tot":"flow"},{"t":"set","p":"serial","pt":"msg","to":"selectedMv.serial","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":3180,"wires":[["3ad6252a.97996a","57f93e2c.5a7578"]]},{"id":"c5b76974.3265f","type":"inject","z":"3dc2f87a.db625","name":"Vehicle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":3300,"wires":[["b90b8c3.d7ecd7","5bff6a8f.b6d014"]]},{"id":"57f93e2c.5a7578","type":"debug","z":"3dc2f87a.db625","name":"get Camera Snapshot: req","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":3300,"wires":[]},{"id":"4ac9f4cb.c944c4","type":"ui_gauge","z":"3dc2f87a.db625","d":true,"name":"Average No. Vehicles","group":"2343c8be.5243a8","order":4,"width":0,"height":0,"gtype":"gage","title":"Average","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1280,"y":3260,"wires":[]},{"id":"7814e0e.fd29c2","type":"function","z":"3dc2f87a.db625","d":true,"name":"zone 0 - average count","func":"msg.payload = Math.round((msg.payload[0].averageCount * 100) / 100);\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":3240,"wires":[["4ac9f4cb.c944c4"]]},{"id":"267a4d34.e8f0ca","type":"comment","z":"3dc2f87a.db625","name":"Overview = last hour","info":"","x":590,"y":3220,"wires":[]},{"id":"227dc455.f3de5c","type":"link in","z":"3dc2f87a.db625","name":"","links":["d89f0699.73bff8","954be762.4e4d1"],"x":95,"y":3140,"wires":[["b90b8c3.d7ecd7"]]},{"id":"fccef8d1.3ec56","type":"comment","z":"3dc2f87a.db625","name":"VEHICLES","info":"","x":500,"y":2500,"wires":[]},{"id":"4b19c340.348f1c","type":"function","z":"3dc2f87a.db625","name":"number of vehicles","func":"msg.payload = msg.payload.counts.vehicle;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":2600,"wires":[["ec47852.28e0a78"]]},{"id":"ec47852.28e0a78","type":"ui_gauge","z":"3dc2f87a.db625","name":"","group":"2343c8be.5243a8","order":2,"width":0,"height":0,"gtype":"compass","title":"Current Vehicles","label":"","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":2600,"wires":[]},{"id":"d4237224.35cb2","type":"comment","z":"3dc2f87a.db625","name":"Vehicle registration to ALPR","info":"","x":810,"y":3500,"wires":[]},{"id":"5d600735.70e25","type":"link in","z":"3dc2f87a.db625","name":"","links":["c42886e9.9b372","ea9524d8.e817e","9a7144a9.c2b6a","1cf8fedc.84d419","fc89d2af.51487","7571fa95.a9b744","ec129cd.680546"],"x":205,"y":2060,"wires":[["beafb171.557088"]]},{"id":"346fdb08.25654c","type":"meraki-dashboard-api","z":"3dc2f87a.db625","service":"dfeaae44.1b7a6","name":"getDeviceCameraAnalyticsOverview","selectedGroup":"MV Sense","selectedMethod":"getDeviceCameraAnalyticsOverview","filteredMethods":[{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsLive","parameters":[{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsLive_serial\"><label for=\"node-input-getDeviceCameraAnalyticsLive_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsLive_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsLive_serialType\" value=\"string\" ></div>","example":"[\n  {\n    \"ts\": \"2018-08-15T18:32:38.123Z\",\n    \"zones\": {\n      \"0\": {\n        \"person\": 0\n      }\n    }\n  }\n]","summary":"Returns live state from camera of analytics zones"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsOverview","parameters":[{"camelCaseName":"serial"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"objectType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_serial\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_t0\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_t1\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 7 days after t0.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_timespan\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsOverview_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsOverview_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsOverview_objectType\"><label for=\"node-input-getDeviceCameraAnalyticsOverview_objectType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>objectType</b> <i>&nbspstring</i></span></label><select id=\"node-input-getDeviceCameraAnalyticsOverview_objectType\"><option value=\"person\">person</option><option value=\"vehicle\">vehicle</option></select></div>","example":"[\n  [\n    {\n      \"startTs\": \"2018-08-15T18:32:38.123Z\",\n      \"endTs\": \"2018-08-15T18:33:38.123Z\",\n      \"zoneId\": 0,\n      \"entrances\": 254,\n      \"averageCount\": 5\n    }\n  ]\n]","summary":"Returns an overview of aggregate analytics data for a timespan"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsRecent","parameters":[{"camelCaseName":"serial"},{"camelCaseName":"objectType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsRecent_serial\"><label for=\"node-input-getDeviceCameraAnalyticsRecent_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsRecent_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsRecent_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsRecent_objectType\"><label for=\"node-input-getDeviceCameraAnalyticsRecent_objectType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>objectType</b> <i>&nbspstring</i></span></label><select id=\"node-input-getDeviceCameraAnalyticsRecent_objectType\"><option value=\"person\">person</option><option value=\"vehicle\">vehicle</option></select></div>","example":"[\n  [\n    {\n      \"startTs\": \"2018-08-15T18:32:38.123Z\",\n      \"endTs\": \"2018-08-15T18:33:38.123Z\",\n      \"zoneId\": 0,\n      \"entrances\": 10,\n      \"averageCount\": 2.54\n    }\n  ]\n]","summary":"Returns most recent record for analytics zones"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsZones","parameters":[{"camelCaseName":"serial"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZones_serial\"><label for=\"node-input-getDeviceCameraAnalyticsZones_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZones_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZones_serialType\" value=\"string\" ></div>","example":"[\n  [\n    {\n      \"id\": \"0\",\n      \"type\": \"occupancy\",\n      \"label\": \"Full Frame\"\n    }\n  ]\n]","summary":"Returns all configured analytic zones for this camera"},{"methodGroup":"MV Sense","methodName":"getDeviceCameraAnalyticsZoneHistory","parameters":[{"camelCaseName":"serial"},{"camelCaseName":"zoneId"},{"camelCaseName":"t0"},{"camelCaseName":"t1"},{"camelCaseName":"timespan"},{"camelCaseName":"resolution"},{"camelCaseName":"objectType"}],"formHtml":"<h4>Parameters</h4><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_serial\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_serial\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>serial<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_serial\" placeholder=\"msg.serial\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_serialType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_zoneId\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_zoneId\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>zoneId<span style=\"color:red;\"> *</span></b> <i>&nbspstring</i></span></label><p></p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_zoneId\" placeholder=\"msg.zoneId\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_zoneIdType\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_t0\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_t0\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t0</b> <i>&nbspstring</i></span></label><p>The beginning of the timespan for the data. The maximum lookback period is 365 days from today.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t0\" placeholder=\"msg.t0\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t0Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_t1\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_t1\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>t1</b> <i>&nbspstring</i></span></label><p>The end of the timespan for the data. t1 can be a maximum of 14 hours after t0.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t1\" placeholder=\"msg.t1\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_t1Type\" value=\"string\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_timespan\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_timespan\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>timespan</b> <i>&nbspinteger</i></span></label><p>The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_timespan\" placeholder=\"msg.timespan\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_timespanType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_resolution\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_resolution\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>resolution</b> <i>&nbspinteger</i></span></label><p>The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60.</p><input type=\"text\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_resolution\" placeholder=\"msg.resolution\" style=\"width:70%\"><input type=\"hidden\" id=\"node-input-getDeviceCameraAnalyticsZoneHistory_resolutionType\" value=\"integer\" ></div><div class=\"form-row\" id=\"getDeviceCameraAnalyticsZoneHistory_objectType\"><label for=\"node-input-getDeviceCameraAnalyticsZoneHistory_objectType\" style=\"width:70%\"><i class=\"fa fa-list\"></i> <span><b>objectType</b> <i>&nbspstring</i></span></label><select id=\"node-input-getDeviceCameraAnalyticsZoneHistory_objectType\"><option value=\"person\">person</option><option value=\"vehicle\">vehicle</option></select></div>","example":"[\n  [\n    {\n      \"startTs\": \"2018-08-15T18:32:38.123Z\",\n      \"endTs\": \"2018-08-15T18:33:38.123Z\",\n      \"entrances\": 5,\n      \"averageCount\": 1.5\n    }\n  ]\n]","summary":"Return historical records for analytic zones"}],"storedParams":[],"formHtml":"","method":"getDeviceCameraAnalyticsOverview","x":670,"y":2060,"wires":[["b286963b.dc22b8","62f725b1.418dc4","20706ed6.83ae7a"]]},{"id":"62f725b1.418dc4","type":"function","z":"3dc2f87a.db625","name":"zone 0 - entrances","func":"msg.payload = msg.payload[0].entrances\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":2080,"wires":[["36bbc862.bfeb68"]]},{"id":"b286963b.dc22b8","type":"debug","z":"3dc2f87a.db625","name":"getDeviceCameraAnalyticsOverview","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":2180,"wires":[]},{"id":"36bbc862.bfeb68","type":"ui_gauge","z":"3dc2f87a.db625","name":"","group":"f699df2.4f507a","order":3,"width":0,"height":0,"gtype":"wave","title":"Entrances in last hour","label":"","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1380,"y":2080,"wires":[]},{"id":"a25b1d6d.8da5b","type":"comment","z":"3dc2f87a.db625","name":"Recent People Guage","info":"","x":260,"y":2000,"wires":[]},{"id":"beafb171.557088","type":"change","z":"3dc2f87a.db625","name":"set params","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"networkId","pt":"msg","to":"networkId","tot":"flow"},{"t":"set","p":"serial","pt":"msg","to":"selectedMv.serial","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":2060,"wires":[["346fdb08.25654c","eb38c149.067618"]]},{"id":"eb38c149.067618","type":"debug","z":"3dc2f87a.db625","name":"get Camera Snapshot: req","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":2180,"wires":[]},{"id":"4ee3dfc0.40e7b8","type":"ui_gauge","z":"3dc2f87a.db625","d":true,"name":"","group":"f699df2.4f507a","order":4,"width":0,"height":0,"gtype":"donut","title":"Average","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1390,"y":2140,"wires":[]},{"id":"20706ed6.83ae7a","type":"function","z":"3dc2f87a.db625","d":true,"name":"zone 0 - average count","func":"msg.payload = Math.round((msg.payload[0].averageCount * 100) / 100);\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":2120,"wires":[["4ee3dfc0.40e7b8"]]},{"id":"b2c87b53.fcb6d","type":"comment","z":"3dc2f87a.db625","name":"Overview = last hour","info":"","x":720,"y":2100,"wires":[]},{"id":"b063e3d4.5654d","type":"link in","z":"3dc2f87a.db625","name":"","links":["b8737ffc.f3e618"],"x":230,"y":2120,"wires":[["beafb171.557088"]]},{"id":"ea88fd1d.cb9e58","type":"comment","z":"3dc2f87a.db625","name":"PEOPLE","info":"","x":490,"y":1540,"wires":[]},{"id":"80e33e05.9e007","type":"template","z":"3dc2f87a.db625","name":"url template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{url}}}","output":"str","x":450,"y":3580,"wires":[["48b52d55.1f285c","ae586222.10435"]]},{"id":"ae586222.10435","type":"string","z":"3dc2f87a.db625","name":"URL String","methods":[{"name":"append","params":[{"type":"msg","value":"payload"}]},{"name":"append","params":[{"type":"str","value":"&secret_key=sk_722413496952385ec4c9ef91&recognize_vehicle=1&country=gb&return_image=0&topn=10\""}]},{"name":"append","params":[{"type":"str","value":" -H  \"accept: application/json\""}]}],"prop":" \"https://api.openalpr.com/v2/recognize_url?image_url=","propout":"payload","object":"str","objectout":"msg","x":650,"y":3580,"wires":[["df753122.f23138","c3bf9039.40d678"]]},{"id":"df753122.f23138","type":"debug","z":"3dc2f87a.db625","name":"Full URL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":3640,"wires":[]},{"id":"d169cd5d.daef38","type":"debug","z":"3dc2f87a.db625","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.credits_monthly_used","targetType":"msg","x":1370,"y":3500,"wires":[]},{"id":"c372da5e.3554d8","type":"exec","z":"3dc2f87a.db625","command":"curl -X POST \"https://api.openalpr.com/v2/recognize_url?image_url=https://www.telegraph.co.uk/content/dam/cars/2016/05/10/hyundai-number-plate_trans_NvBQzQNjv4BqyExqgkz_NJbmr3C3ebySg2-TbdNi5cPbrZ8Vc2Xv1l8.jpg?imwidth=1400&secret_key=sk_722413496952385ec4c9ef91&recognize_vehicle=1&country=gb&return_image=0&topn=10\" -H  \"accept: application/json\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":790,"y":3960,"wires":[["fd9503e4.474ca8"],[],[]]},{"id":"e9e013b3.2df3b8","type":"inject","z":"3dc2f87a.db625","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":467.5,"y":3961,"wires":[["c372da5e.3554d8"]]},{"id":"137455ea.27b11a","type":"comment","z":"3dc2f87a.db625","name":"Image of known url with known licence plate ^","info":"https://www.telegraph.co.uk/content/dam/cars/2016/05/10/hyundai-number-plate_trans_NvBQzQNjv4BqyExqgkz_NJbmr3C3ebySg2-TbdNi5cPbrZ8Vc2Xv1l8.jpg?imwidth=1400","x":790,"y":4020,"wires":[]},{"id":"1f5e591f.4df847","type":"ui_toast","z":"3dc2f87a.db625","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2180,"y":3660,"wires":[]},{"id":"afaf6e0a.ee51a","type":"filter","z":"3dc2f87a.db625","name":"Filter for error code = 400","property":"payload.error_code","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"400","vt":"num","output":1}],"checkall":"true","outputs":1,"x":1740,"y":3620,"wires":[[]]},{"id":"25476a95.1af4ae","type":"comment","z":"3dc2f87a.db625","name":"Notification or text saying \"Unable to download image\"","info":"","x":2040,"y":3620,"wires":[]},{"id":"999165d7.47cd6","type":"comment","z":"3dc2f87a.db625","name":"Read this Tom!!!","info":"Not sure what is the best way to display the Reg numbers.\nNotifcation perhaps for the reg that don't get read and a text box for thos that do?","x":1890,"y":3520,"wires":[]},{"id":"2ed60595.e8a652","type":"function","z":"3dc2f87a.db625","name":"reg number","func":"msg.payload = msg.payload.results[0].plate\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":3720,"wires":[["df052367.7c0028"]]},{"id":"f9f602b0.6ea96","type":"ui_text","z":"3dc2f87a.db625","group":"7e7b4f0d.53c078","order":3,"width":0,"height":0,"name":"","label":"Reg","format":"{{msg.payload}}","layout":"col-center","x":1750,"y":3720,"wires":[]},{"id":"c491652d.0d4f5","type":"function","z":"3dc2f87a.db625","name":"Conf","func":"msg.payload = msg.payload.results[0].confidence\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":3760,"wires":[["68cefbc5.000aec"]]},{"id":"68cefbc5.000aec","type":"ui_text","z":"3dc2f87a.db625","group":"7e7b4f0d.53c078","order":3,"width":0,"height":0,"name":"","label":"Confidence %","format":"{{msg.payload}}","layout":"col-center","x":1480,"y":3760,"wires":[]},{"id":"df052367.7c0028","type":"filter","z":"3dc2f87a.db625","name":"Filter for Reg containing numbers","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"cont","v":"1","vt":"num","output":1},{"t":"cont","v":"2","vt":"num","output":1},{"t":"cont","v":"3","vt":"num","output":1},{"t":"cont","v":"4","vt":"num","output":1},{"t":"cont","v":"5","vt":"num","output":1},{"t":"cont","v":"6","vt":"num","output":1},{"t":"cont","v":"7","vt":"num","output":1},{"t":"cont","v":"8","vt":"num","output":1},{"t":"cont","v":"9","vt":"num","output":1},{"t":"cont","v":"0","vt":"num","output":1}],"checkall":"true","outputs":1,"x":1530,"y":3720,"wires":[["f9f602b0.6ea96"]]},{"id":"dfeaae44.1b7a6","type":"meraki-dashboard-api-service","z":"","host":"https://api-mp.meraki.com/api/v0","secureApiKeyHeaderOrQueryName":"X-Cisco-Meraki-API-Key","name":"CXC Demo"},{"id":"3d7692f1.15867e","type":"ui_group","z":"","name":"Network","tab":"40a74a6f.b7590c","order":2,"disp":true,"width":"6","collapse":false},{"id":"7d0a2673.81d258","type":"ui_group","z":"","name":"Cameras","tab":"40a74a6f.b7590c","order":1,"disp":true,"width":"10","collapse":false},{"id":"f699df2.4f507a","type":"ui_group","z":"","name":"People","tab":"40a74a6f.b7590c","order":3,"disp":true,"width":"6","collapse":false},{"id":"ceab8796.f81c88","type":"mqtt-broker","z":"","name":"Hive","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7e7b4f0d.53c078","type":"ui_group","z":"","name":"Cameras","tab":"c073ed3a.b4d0a8","disp":true,"width":"12","collapse":false},{"id":"2343c8be.5243a8","type":"ui_group","z":"","name":"Vehicles","tab":"c073ed3a.b4d0a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"40a74a6f.b7590c","type":"ui_tab","z":"","name":"People","icon":"whatshot","order":4,"disabled":false,"hidden":false},{"id":"c073ed3a.b4d0a8","type":"ui_tab","z":"","name":"Vehicles","icon":"drive_eta","order":5,"disabled":false,"hidden":false}]